<% # Clients of this partial must supply the following variables:
   # type
%>

<%= lev_form_for :contact_info, url: contact_infos_path,
                                html: {class: 'form-horizontal add-email-address'} do |f| %>
  <%= f.hidden_field :type, value: type %>
  <div class="row">
    <span class="col-sm-11">
      <%= f.label :value, (t :".add_email_address") %>
    </span>
  </div>

  <div class="row">
    <span class="col-xs-11">
      <%= f.text_field :value %>
    </span>

    <span class="col-xs-1">
      <%= f.submit (t :".add"),
                   class: 'standard' %>
    </span>
  </div>
<% end %>
