<% if false %>

<%# OLD code %>

<% # Clients of this partial must supply the following variable:
   # contact_info (subclass of ContactInfo)
   humanized_name = contact_info.type.underscore.humanize
%>

<tr class='contact-info'>
  <td><%= contact_info.value %></td>
  <td><%= contact_info.is_searchable ? 'Searchable' : 'Not Searchable' %> (<%= link_to 'Change',
                    toggle_is_searchable_contact_info_path(contact_info),
                    method: :put %>)</td>

  <td>
    <% if contact_info.verified %>
      Verified
    <% else %>
      <%= link_to "Click to verify",
                  resend_confirmation_contact_info_path(contact_info),
                  method: :put %>
    <% end %>
  </td>

  <td><%= link_to "Delete",
                    contact_info_path(contact_info),
                    method: :delete,
                    confirm: "Are you sure you want to delete \"#{contact_info.value}?\"" %></td>
</tr>


<% end %>
