<%
    contracts = [FinePrint.get_contract(:general_terms_of_use),
                         FinePrint.get_contract(:privacy_policy)]

    contract_links = contracts.collect { |contract|
        link_to(contract.title, term_path(contract), target: '_blank')
        # TODO: show them in a modal instead of new tab
        # link_to contract.title, term_path(contract), remote: true
    }
%>

<div id="login-signup-form">
    <div class="content">
        <%= render partial: 'tab_group', locals: { active_class: 'signup--active'} %>

        <%= newflow_login_signup_card(
                    classes: "signup-page",
                    header: I18n.t(:"login_signup_form.confirm_your_info"),
                    current_step: I18n.t(:'login_signup_form.step_counter', current_step: 1, total_steps: 2),
                    banners: @banners) do %>
            <% lev_form_for :info, url: confirm_oauth_info_path do |f| %>
                <% fh = NewflowFormHelper::Newflow.new(f: f, context: self) %>

                <div class="content role-section">
                    <div>
                        <%= render partial: 'back_arrow', locals: { path: newflow_signup_path } %>
                        <div class="role-button"><%= I18n.t(:"login_signup_form.student") %></div>
                    </div>
                </div>

                <div class="content control-group">
                    <%= label_tag :first_name, I18n.t(:'login_signup_form.first_name_label'),
                                class: 'field-label required'
                    %>
                    <%= fh.text_field name: :first_name,
                                placeholder: I18n.t(:'login_signup_form.first_name_label'),
                                autofocus: true,
                                value: @first_name
                    %>
                </div>

                <div class="content control-group">
                    <%= label_tag :last_name, I18n.t(:'login_signup_form.last_name_label'),
                                class: 'field-label required'
                    %>
                    <%= fh.text_field name: :last_name,
                                placeholder: I18n.t(:'login_signup_form.last_name_label'),
                                value: @last_name
                    %>
                </div>

                <div class="content control-group">
                    <%= label_tag :email, I18n.t(:'login_signup_form.email_label'),
                                class: 'field-label required'
                    %>
                    <div class="input-with-tooltip-on-hover">
                        <%=
                                fh.text_field(
                                    name: :email,
                                    placeholder: I18n.t(:'login_signup_form.email_label'),
                                    value: @email,
                                    readonly: true
                                )
                        %>
                        <div class="tooltip">
                            <%= I18n.t(:"login_signup_form.confirm_social_info_tooltip").html_safe %>
                        </div>
                    </div>
                </div>

                <div class="content control-group checkboxes-section">
                    <div>
                        <%= f.check_box :newsletter, checked: true %>
                        <span><%= I18n.t(:"login_signup_form.send_me_newsletter") %></span>
                        <br>
                    </div>

                    <div class="terms">
                        <%= f.check_box :terms_accepted %>
                        <%= f.hidden_field :contract_1_id, value: contracts.first.id %>
                        <%= f.hidden_field :contract_2_id, value: contracts.second.id %>
                        <span>
                            <%= I18n.t(:"login_signup_form.agree_to_terms_of_use",
                                        terms_of_use: contract_links.first,
                                        privacy_policy: contract_links.second).html_safe
                            %>
                        </span>
                    </div>
                </div>

                <div class="content">
                    <%= f.submit I18n.t(:"login_signup_form.continue_button"),
                                        data: { disable_with: I18n.t(:"login_signup_form.continue_button") },
                                        id: 'confirm_social_info_submit_button',
                                        class: 'primary' %>
                </div>
            <% end %>
        <% end %>
    </div>
</div>

<script type="text/javascript">
    NewflowUi.enableOnChecked('#confirm_social_info_submit_button', '#info_terms_accepted');
</script>

<%# TODO: move this to some CSS file %>
<style>
    .ui-state-disabled, .ui-button-disabled {
        opacity: 0.75;
    }

    .ui-state-disabled:hover, .ui-button-disabled:hover {
        cursor: not-allowed;
    }
</style>
