<div id="login-signup-form">
  <div class="content">
    <%
      educator_complete_roles = [
        [ I18n.t(:'educator_complete_form.instructor'), 'educator', false ],
        [ I18n.t(:'educator_complete_form.administrator'), 'admin', false ],
        [ I18n.t(:'educator_complete_form.other'), 'other', false ]
      ]
    %>

    <%= render partial: 'tab_group', locals: { active_class: 'signup--active'} %>

    <%= newflow_login_signup_card(
          header: (I18n.t(:"educator_complete_form.complete_page_header")),
          current_step: I18n.t(:"login_signup_form.step_counter", current_step: 4, total_steps: 4),
          classes: 'signup-page completed-step') do %>
      <% lev_form_for :signup, url: educator_complete_post_path do |f| %>
        <% fh = NewflowFormHelper::Newflow.new(f: f,
                                               context: self,
                                               errors: @handler_result&.errors) %>

        <div class="content required-fields-notice">
          <%= I18n.t(:"login_signup_form.all_fields_required") %>
        </div>

        <div class="content">
          <div class="questions">
            <div class="form-group question completed-role">
              <div class="radio-control-group">
                <%= label_tag :completed_role, I18n.t(:"educator_complete_form.describe_role"), class: 'field-label' %>
                <div class="role newflow-mustdo-alert">
                  <%= I18n.t(:"educator_complete_form.select_option") %>
                </div>
                <% educator_complete_roles.each do |(role, id, selected)| %>
                  <label>
                    <% label_name = "completed_role_#{id}".to_sym %>
                    <%= f.radio_button :completed_role, id, checked: selected, class: 'completed-role custom-control-input' %>
                    <%= label label_name, role, class: 'custom-control-label' %>
                  </label>
                <% end %>
              </div>

              <div class="other-specify">
                <%= label_tag :first_name, I18n.t(:"educator_complete_form.other_please_specify"),
                              class: 'field-label'
                %>
                <div class="other newflow-mustdo-alert">
                  <%= I18n.t(:"educator_complete_form.fill_out") %>
                </div>
                <%= fh.text_field name: :first_name,
                                  placeholder: I18n.t(:"educator_complete_form.other_please_specify"),
                                  autofocus: true
                %>
              </div>
            </div>

            <div class="form-group question how-chosen">
              <div class="radio-control-group">
                <%= label_tag :chosen, I18n.t(:"educator_complete_form.how_textbooks_chosen"), class: 'field-label' %>
                <div class="chosen newflow-mustdo-alert">
                  <%= I18n.t(:"educator_complete_form.select_option") %>
                </div>
                <label>
                  <%= f.radio_button :chosen, :by_instructor, checked: false, class: 'completed-role custom-control-input' %>
                  <%= label :using_primary_textbook, I18n.t(:"educator_complete_form.chosen_by_instructor"), class: 'custom-control-label' %>
                </label>
                <label>
                  <%= f.radio_button :chosen, :by_recommendation, checked: false, class: 'completed-role custom-control-input' %>
                  <%= label :using_recommending_openstax, I18n.t(:"educator_complete_form.chosen_by_committee"), class: 'custom-control-label' %>
                </label>
                <label>
                  <%= f.radio_button :chosen, :by_coordinator, checked: false, class: 'completed-role custom-control-input' %>
                  <%= label :using_future, I18n.t(:"educator_complete_form.chosen_by_coordinator"), class: 'custom-control-label' %>
                </label>
              </div>
            </div>

            <div class="form-group question how-using">
              <div class="radio-control-group">
                <%= label_tag :using, I18n.t(:"educator_complete_form.how_using"), class: 'field-label' %>
                <div class="using newflow-mustdo-alert">
                  <%= I18n.t(:"educator_complete_form.select_option") %>
                </div>
                <label>
                  <%= f.radio_button :using, :as_primary, checked: false, class: 'completed-role custom-control-input' %>
                  <%= label :using_primary_textbook, I18n.t(:"educator_complete_form.using_primary_textbook"), class: 'custom-control-label' %>
                </label>
                <label>
                  <%= f.radio_button :using, :as_recommending, checked: false, class: 'completed-role custom-control-input' %>
                  <%= label :using_recommending_openstax, I18n.t(:"educator_complete_form.using_recommending_openstax"), class: 'custom-control-label' %>
                </label>
                <label>
                  <%= f.radio_button :using, :as_future, checked: false, class: 'completed-role custom-control-input' %>
                  <%= label :using_future, I18n.t(:"educator_complete_form.using_future"), class: 'custom-control-label' %>
                </label>
              </div>
            </div>

            <div class="form-group question total-num-students">
              <%= label_tag :first_name,
                            I18n.t(:"educator_complete_form.num_students_taught"),
                            class: 'field-label'
              %>
              <div class="total-num newflow-mustdo-alert">
                <%= I18n.t(:"educator_complete_form.fill_out") %>
              </div>
              <%= fh.text_field name: :num_students_per_semester_taught,
                                placeholder: I18n.t(:"educator_complete_form.num_students_taught"),
                                autofocus: true,
                                numberonly: true
              %>
            </div>

            <div class="form-group question subjects-of-interest">
              <%= label_tag :subjects_of_interest,
                            I18n.t(:"educator_complete_form.subjects_of_interest"),
                            class: 'field-label'
              %>
              <div class="subjects-of-interest newflow-mustdo-alert">
                <%= I18n.t(:"educator_complete_form.select_option") %>
              </div>
              <%= fh.select name: :subjects_of_interest,
                            options: ['Math', 'Science', 'Social Science', 'Humanities', 'Business', 'Essentials', 'College Success', 'High School'],
                            autofocus: true,
                            multiple: true,
                            custom_class: 'os-multiselect'
              %>
            </div>

            <div class="form-group question books-used">
              <%= label_tag :books_used, I18n.t(:"educator_complete_form.books_used"),
                            class: 'field-label'
              %>
              <div class="books-used newflow-mustdo-alert">
                <%= I18n.t(:"educator_complete_form.select_option") %>
              </div>
              <%= fh.select name: :books_used,
                            options: Settings::Subjects.map {|(short_name, info)| [  info["title"], short_name] },
                            autofocus: true,
                            multiple: true,
                            custom_class: 'os-multiselect'
              %>
            </div>
          </div>

          <%= f.submit I18n.t(:"login_signup_form.continue_button"),
                       data: { disable_with: I18n.t(:"login_signup_form.continue_button") },
                       class: 'primary', id: 'signup_form_submit_button',
                       :data => {ga_category: 'Account Creation', ga_action: 'Click', ga_label: '3A-Email'} %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  //this needs to be done at bottom of the file so that the dom above is already constructed
  new NewflowUi.EducatorComplete();
</script>
