<div id="login-signup-form" class="forgot-password-form">
    <div class="content back-arrow-container">
        <%= render partial: 'tab_group', locals: { active_class: 'login--active'} %>

        <%= newflow_login_signup_card(
                    classes: "login-page",
                    header: I18n.t(:"login_signup_form.reset_my_password")) do %>
            <% lev_form_for :forgot_password_form, url: send_reset_password_email_path do |f| %>
                <% fh = NewflowFormHelper::Newflow.new(f: f,
                                            context: self,
                                            errors: @handler_result&.errors) %>

                <%= render partial: 'back_arrow', locals: { path: redirect_back_path } %>

                <div class="content control-group info-message">
                    <%= I18n.t(
                                :"login_signup_form.reset_my_password_description",
                                email: @email,
                                edit_your_email: link_to(
                                    I18n.t(:"login_signup_form.edit_your_email"), change_your_email_path
                                )
                            ).html_safe
                    %>
                </div>

                <div class="content control-group">
                    <%= label_tag :email, I18n.t(:"login_signup_form.email_label"),
                                class: 'field-label'
                    %>
                    <%= fh.text_field name: :email,
                                placeholder: I18n.t(:"login_signup_form.email_placeholder"),
                                autofocus: true,
                                value: @email
                    %>
                </div>

                <div class="content control-group" style="margin-top: 0">
                    <%=
                        I18n.t(
                            :"login_signup_form.cant_remember_email",
                            contact_us_link:link_to(
                            I18n.t(:"login_signup_form.contact_us"), knowledge_base_url, target: '_blank'
                            )
                        ).html_safe
                        %>
                </div>

                <div class="content">
                    <%= f.submit I18n.t(:"login_signup_form.reset_my_password_button"),
                                        disable_with: I18n.t(:"login_signup_form.reset_my_password_button"),
                                        class: 'primary' %>
                </div>

            <% end %>
        <% end %>
    </div>
</div>
