<%= page_heading 'Check your inbox to verify your email address.' %>

<style type='text/css'>
  ol li { margin: 10px 0; }
  input[type='submit'] { margin: 10px 0 30px 40px; }
</style>

<%# flash.now[:alert] = "We haven't seen that you clicked the verification link.  Please try again." \
    if params[:c] == "1" %>

<% emails = current_user.email_addresses.collect(&:value) %>

<ol>
  <li>Find <%= emails.one? ? 'the email' : 'one of the emails' %>
      we sent to
      <%= emails.to_sentence(last_word_connector: ', or ', two_words_connector: ' or ') %>.</li>
  <li>Click the link <%= emails.one? ? 'in that email' : 'in one of those emails' %>.</li>
  <li>Return here and click the button below.</li>
</ol>

<%= button_to 'I clicked the link in the verification email',
              i_clicked_verification_link_path,
              method: :put, class: 'standard' %>

<p style="margin: 80px 0 0 0; width: 90%">
  Can't find the email?  Try checking your junk or spam folder, or
  <% if emails.one? %>
    <%= link_to 'click here to <b>resend</b> the verification email'.html_safe,
                 resend_confirmation_contact_info_path(current_user.email_addresses.first),
                 method: :put %>.
  <% else %>
    click
    <%= current_user.email_addresses.collect{ |ea|
          link_to(ea.value, resend_confirmation_contact_info_path(ea), method: :put)
        }.to_sentence(last_word_connector: ', or ', two_words_connector: ' or ').html_safe %>
    to resend those verification emails.
  <% end %>
</p>
