<%
  hide_signup ||= false
  has_facebook ||= false
  has_google ||= false
  has_twitter ||= false
  has_password ||= false
%>

<div class="login-options">

  <%
    has_facebook = current_user.authentications.one?{|auth| auth.provider == 'facebook'}
    has_google   = current_user.authentications.one?{|auth| auth.provider == 'google_oauth2'}
    has_twitter  = current_user.authentications.one?{|auth| auth.provider == 'twitter'}
    has_password = current_user.authentications.one?{|auth| auth.provider == 'identity'}

    has_all_social = has_facebook && has_google && has_twitter
  %>

  <% unless has_all_social %>
    <% unless has_facebook %>
      <%= link_to "/auth/facebook", {class: 'login-button', id: 'facebook-login-button'} do %>
        <%= image_tag "fb_64.png", title: (t :".facebook_title") -%>
      <% end %>
    <% end %>

    <% unless has_twitter %>
      <%= link_to "/auth/twitter", {class: 'login-button', id: 'twitter-login-button'} do %>
        <%= image_tag "twitter_64.png", title: (t :".twitter_title") -%>
      <% end %>
    <% end %>

    <% unless has_google %>
      <%= link_to "/auth/google_oauth2", {class: 'login-button', id: 'google_oauth2-login-button'} do %>
        <%= image_tag "g_64.png", title: (t :".google_title") -%>
      <% end %>
    <% end %>
  <% end %>

  <% unless has_all_social || has_password %>
    <div class="or-bar">
      <div class="or-text"><%= t :".separator_or" %></div>
    </div>
  <% end %>

  <% unless has_password %>
    <div class="password-login">
      <%= form_tag '/auth/identity/callback' do %>
        <label for='auth_key'><%= t :".username_or_email" %></label><input type='text' id='auth_key' name='auth_key'/>
        <label for='password'><%= t :".password" %></label><input type='password' id='password' name='password'/>
        <div class='password-actions'>
          <button class='standard'><%= t :".sign_in" %></button>
          <% unless hide_signup %>
            <span class='sign-up'><%= link_to (t :".sign_up"), signup_path %></span>
          <% end %>
        </div>
        <div class="password-actions">
          <span><%= link_to (t :".forgot_password"), forgot_password_path %></span>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if has_all_social && has_password %>
    <div class='no-more-login-options'>
      <%= t :".no_more_login_options" %>
    </div>
  <% end %>
</div>
