<%
  hide_signup  ||= false
  has_password ||= false
%>

<div class="login-options">

  <%
    has_password = current_user.authentications.one?{|auth| auth.provider == 'identity'}
  %>

  <%= oauth_login_link( "facebook", icon: 'fb_64.png' ) %>

  <%= oauth_login_link( "twitter", icon: 'twitter_64.png' ) %>

  <%= oauth_login_link( "google_oauth2", title: "Google", icon: 'g_64.png' ) %>



  <% unless has_password %>
    <div class="or-bar">
      <div class="or-text">OR</div>
    </div>

    <div class="password-login">
      <%= form_tag '/auth/identity/callback' do %>
        <label for='auth_key'>Username</label><input type='text' id='auth_key' name='auth_key'/>
        <label for='password'>Password</label><input type='password' id='password' name='password'/>
        <div class='password-actions'>
          <button class='standard'>Sign in</button>
          <% unless hide_signup %>
            <span class='sign-up'><%= link_to "Sign up", signup_path %></span>
          <% end %>
        </div>
        <div class="password-actions">
          <span><%= link_to 'Forgot password?', forgot_password_path %></span>
        </div>
      <% end %>
    </div>
  <% end %>

</div>
