<% authentications = current_user.authentications %>

<%= page_heading (t :".page_heading") %>

<% if false %>
<p>Is this your first time making an OpenStax account? If so, choose the option on the right to complete your registration.</p>

<p>If you think you have an existing OpenStax account using a different login, sign in on the left using that login so we can find the existing account and connect all of your logins to it.</p>

<p>Do you have another OpenStax account using a different login?</p>

<p>If so,
login on the left using the other account and we will link your profiles
together. If you are a new user, select the option on the right to setup your
profile.</p>

<p>You're signed in using <%= authentications_list(authentications) %>, but we  haven't seen you before.  If you think you already have an account using a different login, enter it on the left; otherwise, click the option on the right to setup your account.</p>


<% end %>


<div class='new-or-returning'>

  <div class='new-or-returning-option left'>
    <div class='situation'>
      <%= t :".first_time_logging_html" %>
    </div>
    <div class='well'>
    <%= link_to (t :".continue"),
                registration_complete_path, class: 'standard' %>
    </div>

  </div>

  <div class='new-or-returning-option right' style='display:inline-block'>
    <div class='situation'>
      <%= t :".logged_before_html" %>
    </div>

    <div class='well'>
      <%= render 'sessions/login', hide_sign_up: true %>
      <div style='clear:right'></div>
    </div>
  </div>

  <div class='middle-space' style='display:inline-block'>
    <div class="or-bar" id='left-or-block'>
      <div class="or-text"><%= t :".separator_or" %></div>
    </div>
  </div>

</div>

<center><%= t :".account_linked_to", list: (authentications_list authentications, :"sessions.ask_new_or_returning") %></center>
