<% login_info = get_login_info %>

<%= render 'layouts/ox_white_logo' %>

<div class="ox-card login">

  <h1 class="title"><%= t '.name_greeting', name: login_info[:names].first %></h1>

  <% if login_info[:providers].include?('google_oauth2') %>
    <%= link_to "/auth/google_oauth2", class: 'btn btn-social btn-google',
                                       id: 'google-login-button' do %>
      <span class="fa fa-google"></span> <%= t :".sign_in_with_google" %>
    <% end %>
  <% end %>

  <% if login_info[:providers].include?('facebook') %>
    <%= link_to "/auth/facebook", class: 'btn btn-block btn-social btn-facebook',
                                  id: 'facebook-login-button' do %>
      <span class="fa fa-facebook"></span> <%= t :".sign_in_with_facebook" %>
    <% end %>
  <% end %>

  <% if login_info[:providers].include?('identity') %>
    <% if login_info[:providers].many? %>

    <div class="separator-line" data-text="">
      <%= t '.separator_or' %>
    </div>

    <% end %>
    <%= lev_form_for :login, url: '/auth/identity/callback' do |f| %>

      <%= f.password_field :password, placeholder: t(".password"), class: 'wide'  %>

      <%= f.hidden_field :username_or_email, placeholder: t(".password"),
          class: 'form-control ', autofocus: true  %>

      <input type="submit" class="btn btn-primary" value="<%= t '.login' %>" />

      <div class="footer">
        <p>
          <%= link_to(t('forgot_password'), login_help_path) %>
            </p>
         </div>
     <% end %>

  <% end %>
</div>
