<%
  login_info = get_login_info
  username_or_email = login_info[:username_or_email]
  names = login_info[:names] || []
  providers = login_info[:providers] || {}
%>

<div class="ox-card login">

  <h1 class="title"><%= t '.name_greeting', name: names.first %></h1>

  <% if providers.keys.include?('google_oauth2') %>
    <%= link_to "/auth/google_oauth2?login_hint=#{providers['google_oauth2']['login_hint']}",
                class: 'btn btn-social btn-google',
                id: 'google-login-button' do %>
      <span class="fa fa-google"></span> <%= t :".sign_in_with_google" %>
    <% end %>
  <% end %>

  <% if providers.keys.include?('facebook') %>
    <%= link_to "/auth/facebook", class: 'btn btn-block btn-social btn-facebook',
                                  id: 'facebook-login-button' do %>
      <span class="fa fa-facebook"></span> <%= t :".sign_in_with_facebook" %>
    <% end %>
  <% end %>

  <% if providers.keys.include?('identity') %>
    <% if providers.many? %>

    <div class="separator-line" data-text="">
      <%= t '.separator_or' %>
    </div>

    <% end %>
    <%= lev_form_for :login, url: '/auth/identity/callback' do |f| %>

      <%= f.password_field :password, placeholder: t(".password")  %>

      <%= f.hidden_field :username_or_email, value: username_or_email %>

      <input type="submit" class="primary" value="<%= t '.login' %>" />

      <div class="footer">
        <p>
          <%= link_to(t('forgot_password'), login_help_path) %>
            </p>
         </div>
     <% end %>

  <% end %>
</div>
