<%= ox_card(classes: "help", heading: (t :'.page_heading')) do %>

  <p><%= t :".if_you_know_username_or_email.content_html",
         link: (mail_to "info@openstax.org",
         (t :".if_you_know_username_or_email.contact_customer_support"))
         %>
  </p>

    <%= lev_form_for :help, url: '' do |f| %>
      <%= standard_field form: f, name: :username_or_email,
          type: :text_field, label: (t :".username_or_email") %>

      <%= render(partial: "layouts/attention") %>

      <%= submit_tag (t :".submit"), data: { disable_with: (t :".submitting") }, class: 'primary' %>
    <% end %>

  </div>

<% end %>
