<% @parent_col_id = "signin-help" %>

<%= page_heading "We're sorry you're having trouble accessing your account." %>

<div class="row">
  <div class="col-xs-12">
    <p>If you know your account's username or email address, please enter it below
      and we'll send you an email about how to regain access to your account.  If you do
      not have this information, please <%= mail_to "info@openstax.org", "contact customer support" %>.</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <%= lev_form_for :help, url: '' do |f| %>
      <%= standard_field form: f, name: :username_or_email, type: :text_field, label: 'Username or Email' %>
      <%= submit_tag 'Submit', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
