<%
  @hide_layout_errors = true

  translate_error(code: :no_users) do
    gave_an_email = params["login"]["username_or_email"].match(/@/)
    gave_an_email ? t(:'.unknown_email') : t(:'.unknown_username')
  end

  translate_error(code: :multiple_users) do
    t(:".multiple_users.content_html",
      link: (link_to (t :".multiple_users.click_here"),
                     email_usernames_path,
                     method: :post,
                     remote: true))
  end
%>

<%= ox_card(classes: "login", heading: (t :".page_heading")) do %>

  <%= lev_form_for :login, url: lookup_login_path do |f| %>

      <% fh = FormHelper::One.new(f: f,
                                  context: self,
                                  errors: @handler_result.try(:errors),
                                  error_field_classes: "alert alert-danger") %>

      <div class="card-body">
        <%= fh.text_field name: :username_or_email,
            label: '.email_placeholder' %>
      </div>

      <section class="footer">
        <input type="submit" value="<%= t '.next' %>" class="primary" />
        <p class="extra-info">
          <%= t '.no_account_q' %>
          <%= link_to(t('.sign_up'), get_alternate_signup_url || signup_path) %>.
        </p>
      </section>
  <% end %>

<% end %>

