<% @hide_session_info = true %>

<% @parent_col_id = "signin" %>

<%= page_heading (t :".page_heading"), sub_heading_text: (t :".page_sub_heading"), center: true %>

<div class="row">
  <h3>Log in to OpenStax</h3>

  <%= lev_form_for :login, url: lookup_login_path, method: :post do |f| %>
    <%= f.text_field :username_or_email, placeholder: (t :".username_or_email") %>
    <%= f.submit (t :".next"), class: 'btn btn-primary' %>
  <% end %>

  <hr/>

  <p>No account? <span class='sign-up'><%= link_to (t :".sign_up"), signup_path %></span></p>
</div>
