<%= image_tag('openstax-logo-white.png', width: 174, height: 40, class: 'logo') %>
<% @hide_layout_errors = true %>

<% is_invalid = collect_errors.any? %>

<div class="ox-card login">

  <h1 class="title"><%= t '.page_heading' %></h1>

  <%= lev_form_for :login, url: lookup_login_path do |f| %>

    <div class="form-group<%= ' has-error' if is_invalid %>">

      <%= f.text_field :username_or_email, placeholder: t('.email_placeholder'),
          class: "form-control wide", autofocus: true %>
        <%= render(partial: "layouts/attention") %>
    </div>


    <input type="submit" class="btn btn-primary" value="<%= t '.next' %>" />

    <div class="footer">
      <p>
        <%= t '.no_account_q' %>
        <%= link_to(t('.sign_up'), signup_password_path) %>
      </p>
    </div>
  <% end %>

</div>
