<% @hide_layout_errors = true %>

<% is_invalid = collect_errors.any? %>

<div class="ox-card login">

  <h1 class="title"><%= t '.page_heading' %></h1>

  <%= lev_form_for :login, url: lookup_login_path do |f| %>

    <%= standard_field form: f, name: :username_or_email,
        type: :text_field, options: { placeholder: t('.email_placeholder') } %>

     <%= render(partial: "layouts/attention") %>

      <input type="submit" value="<%= t '.next' %>" />

      <div class="footer">
        <p>
          <%= t '.no_account_q' %>
          <%= link_to(t('.sign_up'), signup_password_path) %>
        </p>
      </div>
  <% end %>

</div>
