<%= page_heading "Confirm Your Account Details" %>

<p>Make changes to your account details below, add and remove email addresses, then click "Finish Registration".</p>

<%= lev_form_for :register, url: finish_registration_url, method: :put do |f| %>

  <%= standard_field form: f, name: :username, type: :text_field, label: "Username" %>
  <%= standard_field form: f, name: :first_name, type: :text_field, label: "First Name" %>
  <%= standard_field form: f, name: :last_name, type: :text_field, label: "Last Name" %>

  <%= f.text_field 'email[]', name: 'blah' %>
  <%= f.text_field 'email[]' %>

  <div class='form-field'>
    <div class='form-label'>
      Email Addresses
    </div>
    <% current_user.contact_infos.email_addresses.all.each do |email_address| %>
    <div class='form-input'>
      
    </div>  
    <% end %>
    <%= link_to 'Add an email address', id: 'add_an_email_address' %>
  </div>



  <%#= standard_field form: f, name: :password, type: :password_field, label: "Password" %>
  <%#= standard_field form: f, name: :password_confirmation, type: :password_field, label: "Password Again" %>

  <%= f.submit "Finish Registration" %>
<% end %>

