<% content_for :head do %>
  <%= javascript_include_tag  "signin" %>
<% end %>
<%
  @hide_layout_errors = true

  suggested_username = signup_state && signup_state.trusted? ?
    signup_state.trusted_data['email'] : ''

  translate_error(code: :no_users) do
    gave_an_email = params["login"]["username_or_email"].match(/@/)
    gave_an_email ? t(:'.unknown_email') : t(:'.unknown_username')
  end

  translate_error(code: :multiple_users) do
    t(:".multiple_users.content_html",
      link: (link_to (t :".multiple_users.click_here"),
                     email_usernames_path,
                     method: :post,
                     remote: true))
  end

  translate_error(code: :multiple_users_missing_usernames) do
    t(:".multiple_users_missing_usernames.content_html",
      help_link: (mail_to "info@openstax.org",
                  (t :".multiple_users_missing_usernames.help_link_text")))
  end
%>

<%= ox_card(classes: "login", heading: (t :".page_heading")) do %>

  <%= lev_form_for :login, url: lookup_login_path do |f| %>

      <% fh = FormHelper::One.new(f: f,
                                  context: self,
                                  errors: @handler_result.try(:errors),
                                  error_field_classes: "alert alert-danger") %>

      <% if @client_app  %>
          <% if @client_app.name.downcase.include? "tutor" %>
            <div class="tutor-message"><%= t '.access_tutor' %></div>
          <% end %>
      <% end %>

      <div class="card-body">
        <%= fh.text_field name: :username_or_email,
            value: suggested_login_username,
            label: '.email_placeholder', autofocus: true %>
        <a class="trouble" tabindex="-1" href="#">
          <%= t '.having_trouble' %>
        </a>
          <div class="login-help" style="display: none;">
            <p><%= t '.help' %></p>
            <p>
              <%= t '.cant_remember_email' %>
              <br />
              <a target="_blank" tabindex="-1" href="http://openstax.force.com/support/articles/How_To/Can-t-log-in-to-your-OpenStax-account"><%= t '.knowledge_base' %></a><i class="fa fa-external-link" aria-hidden="true"></i>
            </p>
          </div>
      </div>

      <section class="footer">
        <%= f.submit (t :".next"), data: { disable_with: (t :".submitting") }, class: 'primary' %>
        <p class="extra-info">
          <% if !params.has_key?(:no_signup) %>
            <%= t '.no_account_q' %>
            <%= link_to(t('.sign_up'), get_alternate_signup_url || signup_path) %>.
          <% end %>
        </p>
      </section>
  <% end %>

<% end %>
