<% @page_header = "Signup States" %>

<div id="pre_auth_states">

  <div class="searches">
    <%= link_to "1 day", admin_pre_auth_states_path(since: "1") %> &sdot;
    <%= link_to "1 week", admin_pre_auth_states_path(since: "7") %> &sdot;
    <%= link_to "2 weeks", admin_pre_auth_states_path(since: "14") %> &sdot;
    <%= link_to "All", admin_pre_auth_states_path(since: "forever") %>
  </div>

  <p class="desc">Signup states record transient information users provide as they are going through the sign up process.  These
    states are deleted once sign up is complete, so the data on this page is only useful for helping a user who is
    stuck in the middle of the sign up process.</p>

  <h4>Notes</h4>

  <ol>
    <li><b>UNDER NO CIRCUMSTANCES</b>, on penalty of wearing a frowning Staxly pendant around your neck for a month, release PINs or
    confirmation codes to users without having manually verified their email address via an approved method.
    <li>Do not click on the confirmation code URLs -- doing so will launch *you* into the user's sign up flow.</li>
  </ol>

  <h4 style="margin-top:20px">Records created within last <%= pluralize((params[:since] || 1).to_i, "day") %>, newest records first</h4>

  <% @pre_auth_states.each do |pre_auth_state| %>
    <div class="entry">
      <div class="basics">
        <%= pre_auth_state.contact_info_value || "No email yet" %> |
        <%= pre_auth_state.is_contact_info_verified? ? "Verified" : "Not Verified" %> |
        PIN <b><%= pre_auth_state.confirmation_pin %></b> |
        reports as <b><%= pre_auth_state.role %></b> |
        created at <b><%= pre_auth_state.created_at %></b>
      </div>
      <div class="token">
        <%= signup_verify_by_token_url(code: pre_auth_state.confirmation_code) %>
      </div>
      <% if pre_auth_state.signed_data %>
        <div class="signed_data">
          <%= pre_auth_state.signed_data %>
        </div>
      <% end %>
    </div>
  <% end %>

</div>
