<div id="login-signup-form">
    <div class="content">
        <%= render partial: 'newflow/tab_group' , locals: { active_class: 'signup--active' } %>

        <%= newflow_login_signup_card(
                    classes: "signup-page",
                    header: header,
                    show_exit_icon: true) do %>
            <form action="<%= exit_accounts_path %>">
                <div class="content control-group info-message">
                    <%= description %>
                    <br />
                    <br />

                    <%= image %>

                    <%=
                        button_tag(
                            'Finish',
                            data: {
                                'ga-category': 'Account Creation',
                                'ga-action': 'Click',
                                'ga-label': '5-Finish'
                            }
                        )
                    %>
                </div>
            </form>
        <% end  %>
    </div>
</div>
