<%= render 'shared/refresh_upon_going_back' %>

<div id="login-signup-form">
    <div class="content">
        <%= render partial: 'shared/tab_group', locals: { active_class: 'signup--active'} %>

        <%= login_signup_card(
                    classes: 'signup-page',
                    header: I18n.t(
                      :'login_signup_form.confirmation_page_header',
                      first_name: @first_name
                    ),
                    current_step: I18n.t(
                      :'login_signup_form.step_counter',
                      current_step: 2,
                      total_steps:  @total_steps
                    )) do %>
            <% lev_form_for :confirm, url: verify_email_by_pin_post_url do |form| %>
                <%
                    form_helper = FormHelper::One.new(
                        f: form,
                        context: self,
                        errors: @handler_result&.errors
                    )
                %>

                <div class="content info-message">
                    <%= form_description %>
                </div>

                <div class="content control-group">
                    <%= label_tag :pin, I18n.t(:'login_signup_form.pin_label'),
                                class: 'field-label required'
                    %>
                    <%= form_helper.text_field name: :pin,
                                placeholder: I18n.t(:'login_signup_form.pin_placeholder'),
                                autofocus: true
                    %>
                </div>

                <div class="content">
                    <%= help_message %>
                </div>

                <br />

                <div class="content">
                    <%=
                        form.submit(
                            I18n.t(:"login_signup_form.confirm_my_account_button"),
                            class: 'primary',
                            data: {
                                disable_with: false,
                                'ga-category': 'Account Creation',
                                'ga-action': 'Click',
                                'ga-label': '4A-Confirm My Account'
                            }
                        )
                    %>
                </div>

            <% end %>
        <% end %>
    </div>
</div>
