<% @hide_session_info = true %>

<% @parent_col_id = "signup" %>

<%= page_heading "Sign up with OpenStax", sub_heading_text: "Access all OpenStax tools and resources" %>

<div id="options" class="row">

  <div id="social-login" class="col-sm-6">

    <div class="button-form-group">
      <%= link_to "/auth/facebook", class: 'btn btn-block btn-social btn-facebook', id: 'facebook-login-button' do %>
        <span class="fa fa-facebook"></span> Sign up with Facebook
      <% end %>
      <%#= last_signin_mark('facebook') %>

      <%= link_to "/auth/google_oauth2", class: 'btn btn-block btn-social btn-google', id: 'google-login-button' do %>
        <span class="fa fa-google"></span> Sign up with Google
      <% end %>
      <%#= last_signin_mark('google_oauth2') %>

      <%= link_to "/auth/twitter", class: 'btn btn-block btn-social btn-twitter', id: 'twitter-login-button' do %>
        <span class="fa fa-twitter"></span> Sign up with Twitter
      <% end %>

      <%= link_to "/signup/password", class: 'btn btn-block btn-social btn-identity', id: 'identity-login-button' do %>
        <span class="fa fa-key"></span> Sign up with a password
      <% end %>
      <%#= last_signin_mark('twitter') %>
    </div>

  </div>

  <div id="social-signup-message" class="col-sm-6">


    <div id="the-message">

      <p class='dont-want-to-remember'><b>Don't want to remember a password?</b><br/>Sign up with Facebook, Google, or Twitter.</p>

      <p class='already-have-account'><b>Already have an account?</b>&nbsp;&nbsp;<%= link_to "Sign in", signin_path %>.</p>
    </div>

  </div>
</div>



<div id="reminders" class="row" style="padding-top:30px">
  <div class="col-xs-12">
    <p><i>Don't worry.</i> OpenStax <b>won't post anything</b> to your social network without your permission.</p>
    <p>If you're on a public computer, <b style="white-space:nowrap">be sure to sign out</b> when you're done!</p>
  </div>
</div>
