<% @hide_layout_errors = true %>

<div class="ox-card">

  <h1 class="title"><%= t '.page_heading' %></h1>

  <%= lev_form_for :signup, url: '/auth/identity/signup',
    html: {id: 'signup', class: collect_errors.any? ? 'is-invalid' : ''} do |f| %>

    <% fh = FormHelper::One.new(f: f,
                                context: self,
                                errors: @handler_result.try(:errors)) %>
    <%= fh.text_field name: :password, type: :password %>
    <%= fh.text_field name: :password_confirmation, type: :password %>
    <%= render(partial: "layouts/attention") %>
    <%= f.submit (t :".create_password"), class: 'primary' %>
  <% end %>

  <div class="ox-separator-line">
    <%= t :'.separator_or' %>
  </div>

  <p>
    <%= t '.dont_want_to_remember' %><br/>
    <%= link_to t('.use_social'), signup_social_path %>.
  </p>



</div>
