<% @hide_session_info = true %>
<% page_heading (t :".page_heading") %>

<%= lev_form_for :signup, url: '/auth/identity/signup', html: {id: 'signup'} do |f| %>
  <%= standard_field form: f, name: :password, type: :password_field, label: (t :".password") %>
  <%= standard_field form: f, name: :password_confirmation, type: :password_field, label: (t :".confirm_password") %>
  <%= f.submit (t :".enter_password"), class: 'btn btn-primary' %>
<% end %>

<p>Don't want to remember another password?  <%= link_to "Use Google or Facebook instead", signup_social_path %>.</p>
