<div class="ox-card">

  <h1 class="title"><%= t '.page_heading' %></h1>

  <%= lev_form_for :signup, url: '/auth/identity/signup', html: {id: 'signup'} do |f| %>

    <% fh = FormHelper::One.new(f: f,
                                context: self,
                                errors: @handler_result.try(:errors)) %>

    <%= fh.text_field name: :password, type: :password_field %>
    <%= fh.text_field name: :password_confirmation, type: :password_field %>
    <%= f.submit (t :".enter_password"), class: 'btn btn-primary' %>
  <% end %>

  <p>
    Don't want to remember another password?<br/>
    <%= link_to "Use Google or Facebook instead", signup_social_path %>.
  </p>

</div>
