<div class="ox-card">

  <h1 class="title"><%= t '.page_heading' %></h1>


    <div class="button-form-group">
      <%= link_to "/auth/facebook", class: 'btn btn-block btn-social btn-facebook', id: 'facebook-login-button' do %>
        <span class="fa fa-facebook"></span> <%= t :".facebook" %>
      <% end %>

      <%= link_to "/auth/google_oauth2", class: 'btn btn-block btn-social btn-google', id: 'google-login-button' do %>
        <span class="fa fa-google"></span> <%= t :".google" %>
      <% end %>
    </div>

    <div style="padding:30px 0 10px">
      <p><%= t :".openstax_wont_use_social_media_without_permission_html" %></p>
    </div>

    <p>
      Don't want to use one of these?<br/>
      <%= link_to "Set up a password instead", signup_password_path %>.
    </p>

</div>
