<% content_for :head do %>
  <%= javascript_include_tag  "signup" %>
<% end %>

<%
signup_roles = {
  initial: t('.iama'),
  "#{t('.student')}": t('.student'),
  "#{t('.instructor')}": t('.instructor'),
  "#{t('.adjunct')}": t('.adjunct'),
  "#{t('.homeschool')}": t('.homeschool'),
  "#{t('.administrator')}": t('.administrator'),
  "#{t('.librarian')}": t('.librarian'),
  "#{t('.designer')}": t('.designer'),
  "#{t('.other')}": t('.other')
}

translate_error(code: :email_in_use) do
  t :'.email_in_use.content_html',
    link: (link_to (t :'.email_in_use.log_in'),
                   signin_url)
end

translate_error(code: :blank, force: true) do
  t :'.email_cannot_be_blank'
end

translate_error(code: :invalid, force: true) do
  t :'.email_address_invalid'
end
%>

<%= ox_card(classes: "signup", heading: (t :'.page_heading')) do %>

  <%= lev_form_for :signup, url: signup_path, method: :post, html: {class: 'full-width'} do |f| %>

    <% fh = FormHelper::One.new(f: f,
                                context: self,
                                errors: @handler_result.try(:errors),
                                error_field_classes: "alert alert-danger") %>

    <%
      known_role = session[:signup_role]
      known_role ||= pre_auth_state.role if pre_auth_state.try!(:signed_role?)
    %>

    <% if known_role %>
      <%= f.hidden_field(:role, value: known_role) %>
    <% else %>
      <%= fh.select name: :role,
          options: options_for_select(signup_roles.invert.to_a,
            selected: @role || 'initial',
            disabled: "initial",
            hidden: "initial" )
        %>
    <% end %>

    <div class="email-input-group card-body">
      <div class="audience-help" data-audience="instructor">
        <h3><%= t '.instructor_email' %></h3>
        <p>
          <%= t '.teacher_school_email' %>
        </p>
      </div>
      <div class="audience-help" data-audience="student">
        <h3><%= t '.student_email' %></h3>
      </div>

      <%= fh.text_field name: :email, value: @signup_email || signup_email, label: :'.email_placeholder' %>
      <p class="warning edu">
        <%= t '.teacher_school_email_warning', button: (t :'.next').downcase %>
      </p>
    </div>
    <section class="footer">
      <%= f.submit (t :".next"), class: 'primary' %>
      <div class="sign-in">
        <%= t :".already_have_an_account.content_html",
            link: (link_to (t :".already_have_an_account.sign_in"), login_path) %>
      </div>
    </section>
  <% end %>

<% end %>
