<% @hide_layout_errors = true %>
<% @hide_session_info = true %>
<% content_for :head do %>
  <%= javascript_include_tag  "signup" %>
<% end %>

<%
signup_roles = {
  initial: t('.iama'),
  student: t('.student'),
  instructor: t('.instructor'),
  administrator: t('.administrator'),
  librarian: t('.librarian'),
  designer: t('.designer'),
  other: t('.other')
}
%>

<div class="ox-card signup">

  <h1 class="title"><%= t '.page_heading' %></h1>

  <%= lev_form_for :signup, url: signup_path, method: :post do |f| %>

    <% fh = FormHelper::One.new(f: f,
                                context: self,
                                errors: @handler_result.try(:errors)) %>
    <%# TODO put select in form helper %>

    <%= f.select :role, options_for_select(signup_roles.invert.to_a, signup_role) %>

    <div class="email-input-group">
      <div class="audience-help" data-audience="instructor">
        <h4><%= t '.email' %></h4>
        <p>
          <%= t '.teacher_school_email' %>
        </p>
      </div>

      <%= fh.text_field name: :email, value: signup_email, label: :'.email_placeholder' %>
      <p class="edu-warning">
        <%= t '.teacher_school_email_warning', button: (t :'.next').downcase %>
      </p>
      <%= render(partial: "layouts/attention") %>
    </div>
    <%= f.submit (t :".next"), class: 'primary' %>
  <% end %>

</div>
