
<div class="ox-card">

  <h1 class="title"><%= t '.page_heading' %></h1>

  <p>Please check: <%= saved_email %></p> <%# TODO put in locale! %>
  <p>You will receive a six-digit PIN.</p>

  <%= lev_form_for :pin, url: signup_verify_email_path, method: :post do |f| %>

    <% fh = FormHelper::One.new(f: f,
                                context: self,
                                errors: @handler_result.try(:errors)) %>

    <%= fh.text_field name: :pin %>
    <%= f.submit (t :".verify_pin"), class: 'btn btn-primary' %>
  <% end %>

  <%# TODO make sure email/role persist if go back to signup start %>

  <p>Email incorrect? <span class='sign-up'><%= link_to (t :".sign_up"), signup_path %></span></p>

</div>
