<%
  errors = @handler_result.try(:errors) || []
  attempts_remaining = !errors.map(&:code).include?(:no_pin_confirmation_attempts_remaining)
  errors.clear if !attempts_remaining
%>

<div class="ox-card">

  <h1 class="title"><%= t (attempts_remaining ? '.page_heading_pin' : '.page_heading_token') %></h1>

  <p>Please check: <%= signup_email %></p> <%# TODO put in locale! %>

  <% if attempts_remaining %>

    <p>You will receive a six-digit PIN.</p>

    <%= lev_form_for :pin, url: signup_verify_email_path, method: :post do |f| %>

      <% fh = FormHelper::One.new(f: f,
                                  context: self,
                                  errors: @handler_result.try(:errors)) %>

      <%= fh.text_field name: :pin %>
      <%= f.submit (t :".verify_pin"), class: 'primary' %>
    <% end %>

  <% else %>

    <p>You have run out of attempts at verifying this email using a PIN.
       To verify, please click on the link in the verification email.</p>

  <% end %>

  <%# TODO make sure email/role persist if go back to signup start %>

  <p>Used the wrong email? <%= link_to (t :".edit_email_address"), signup_path %></p>

</div>
