<%
  @hide_layout_errors = true
  errors = @handler_result.try(:errors) || []
  attempts_remaining = !errors.map(&:code).include?(:no_pin_confirmation_attempts_remaining)
  errors.clear if !attempts_remaining
%>

<div class="ox-card">

  <h1 class="title"><%= t (attempts_remaining ? '.page_heading_pin' : '.page_heading_token') %></h1>

  <p><%= t :".check_your_email", email: signup_email %></p>

  <% if attempts_remaining %>

    <p><%= t :".you_will_have_received" %></p>

    <%= lev_form_for :pin, url: signup_verify_email_path, method: :post,
        html: {class: collect_errors.any? ? 'is-invalid' : ''} do |f| %>

      <% fh = FormHelper::One.new(f: f,
                                  context: self,
                                  errors: @handler_result.try(:errors)) %>

      <%= fh.text_field name: :pin %>
      <%= render(partial: "layouts/attention") %>
      <section class="footer">
        <%= f.submit (t :".confirm"), class: 'primary' %>
        <p class="extra-info">
          <%= t :".used_wrong_email" %> <%= link_to (t :".edit_email_address"), signup_path %>.
        </p>
      </section>
    <% end %>

  <% else %>

    <%# TODO have a different message at 2 attempts remaining:

    You have two more tries to enter the correct PIN. After the tenth unsuccessful attempt,
    please go back to the email that contains the PIN and click the “confirmverify email
    address” link. This will also confirmverify your email for your OpenStax account.

    %>

    <p><%= t '.no_pin_confirmation_attempts_remaining.content_html', help_link: mail_to('info@openstax.org', t(:".no_pin_confirmation_attempts_remaining.help_link_text")) %></p>

    <%= render(partial: "layouts/attention") %>
  <% end %>

</div>
