<div id="login-signup-form">
    <div class="content">
        <%= render partial: 'shared/tab_group', locals: { active_class: 'signup--active'} %>

        <%= login_signup_card(
                    classes: "welcome-page",
                    header: (I18n.t(:"login_signup_form.welcome_page_header"))) do %>
            <% lev_form_for :login, url: '' do |form| %>
                <%
                    fh = FormHelper::One.new(
                        f: form,
                        context: self,
                        errors: @handler_result&.errors
                    )
                %>
                <div class="content">
                    <div class="join-as">

                        <div>
                            <%= link_to (get_alternate_signup_url || signup_form_path(role: 'student')), data: { 'ga-category': 'Account Creation', 'ga-action': 'Click', 'ga-label': '2A-Student' } do %>
                                <div class="join-as__role student">
                                    <span><%= I18n.t(:"login_signup_form.student") %></span>
                                    <%= image_tag('student-icon.svg') %>
                                </div>
                                <div class="blue-bar"></div>
                            <% end %>

                            <div class="join-as__description">
                                <%= I18n.t(:"login_signup_form.join_as_student_description").html_safe %>
                            </div>
                        </div>

                        <div>
                            <%= link_to signup_form_path(role: 'educator'), data: { 'ga-category': 'Account Creation', 'ga-action': 'Click', 'ga-label': '2B-Educator' } do %>
                                <div class="join-as__role educator">
                                    <span><%= I18n.t(:"login_signup_form.educator") %></span>
                                    <%= image_tag('educator-icon.svg') %>
                                </div>
                                <div class="green-bar"></div>
                            <% end %>

                            <div class="join-as__description">
                                <%= I18n.t(:"login_signup_form.join_as_educator_description").html_safe %>
                            </div>
                        </div>

                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>
