<%
    contracts = [FinePrint.get_contract(:general_terms_of_use),
                         FinePrint.get_contract(:privacy_policy)]

    contract_links = contracts.collect { |contract|
        link_to(contract.title, term_path(contract), target: '_blank')
        # TODO: show them in a modal instead of new tab
        # link_to contract.title, term_path(contract), remote: true
    }
%>

<div id="login-signup-form">
    <div class="content">
        <%= render partial: 'shared/tab_group', locals: { active_class: 'signup--active'} %>

        <%= login_signup_card(
                    header: (I18n.t(:"login_signup_form.signup_page_header")),
                    current_step: I18n.t(:"login_signup_form.step_counter", current_step: 1, total_steps: 2),
                    classes: 'signup-page') do %>
            <% lev_form_for :signup, url: signup_post_path do |form| %>
                <%
                    form_helper = FormHelper::One.new(
                        f: form,
                        context: self,
                        errors: @handler_result&.errors
                    )
                %>
                <div class="content role-section">
                    <div>
                        <%= render partial: 'shared/back_arrow', locals: { path: signup_path } %>
                        <div class="role-button"><%= I18n.t(:"login_signup_form.student") %></div>
                    </div>
                </div>

                <div class="content social-section">
                    <div><%= I18n.t(:"login_signup_form.signup_with") %></div>

                    <div class="social-buttons">

                        <div class="fb-share-button">
                            <%= link_to oauth_path(:facebook),
                                        class: 'facebook btn',
                                        :data => {ga_category: 'Account Creation', ga_action: 'Click', ga_label: '3B-Facebook'} do %>
                                <i class="social-icon fa fa-facebook"></i>
                                <span>Facebook</span>
                            <% end %>
                        </div>

                        <div class="google-share-button">
                            <%=
                                link_to(
                                  oauth_path(:google),
                                    class: 'google btn',
                                    data: {
                                        ga_category: 'Account Creation',
                                        ga_action: 'Click',
                                        ga_label: '3C-Google'
                                    }
                                ) do %>
                                <i class="social-icon fa fa-google"></i>
                                <span>Google</span>
                            <% end %>
                        </div>

                    </div>
                </div>

                <%=
                    render(
                        partial: 'shared/form_divider',
                        locals: {
                            dividing_text: I18n.t(:"login_signup_form.or_sign_up_below")
                        }
                    )
                %>

                <div class="content control-group">
                    <%= label_tag :first_name, I18n.t(:"login_signup_form.first_name_label"),
                                class: 'field-label required'
                    %>
                    <%= form_helper.text_field name: :first_name,
                                placeholder: I18n.t(:"login_signup_form.first_name_label"),
                                autofocus: true
                    %>
                </div>

                <div class="content control-group">
                    <%=
                        label_tag :last_name, I18n.t(:"login_signup_form.last_name_label"),
                        class: 'field-label required'
                    %>
                    <%=
                        form_helper.text_field name: :last_name,
                        placeholder: I18n.t(:"login_signup_form.last_name_label")
                    %>
                </div>

                <div class="content control-group">
                    <%= label_tag :email, I18n.t(:"login_signup_form.email_label"), class: 'field-label required' %>
                    <%=
                        form_helper.text_field(
                            name: :email,
                            type: :email,
                            placeholder: I18n.t(:"login_signup_form.email_placeholder"),
                            data_bind: "valueWithInit: email"
                        )
                    %>
                </div>

                <%= render partial: 'shared/password_control_group', locals: { fh: form_helper } %>

                <div class="content control-group checkboxes-section">

                    <div class="terms">
                        <label>
                            <%= form.check_box :newsletter %>
                            <span><%= I18n.t(:"login_signup_form.send_me_newsletter") %></span>
                        </label>
                        <br>
                    </div>

                    <div class="terms">
                        <label>
                            <%= form.check_box :terms_accepted, 'data-bind': 'checkedWithInit: termsIsChecked' %>

                            <span>
                                <%= I18n.t(:"login_signup_form.agree_to_terms_of_use",
                                            terms_of_use: contract_links.first,
                                            privacy_policy: contract_links.second).html_safe
                                %>
                            </span>
                        </label>
                        <%= form.hidden_field :contract_1_id, value: contracts.first.id %>
                        <%= form.hidden_field :contract_2_id, value: contracts.second.id %>
                        <%= form.hidden_field :role, value: :student %>
                    </div>

                </div>

                <div class="content">
                    <%=
                        form.submit(
                            I18n.t(:"login_signup_form.continue_button"),
                            id: 'signup_form_submit_button',
                            class: 'primary',
                            data: {
                                disable_with: I18n.t(:"login_signup_form.continue_button"),
                                ga_category: 'Account Creation',
                                ga_action: 'Click',
                                ga_label: '3A-Email'
                            },
                            'data-bind': 'enable: canSubmit'
                        )
                    %>
                </div>
            <% end %>
        <% end %>
    </div>
    <%= javascript_include_tag 'application/ko_extensions' %>
</div>

<script type="text/javascript">
  const vm = function() {
    const email = ko.observable('');
    const emailHasChanged = ko.observable(false);
    const emailBlank = ko.computed(() => email().length === 0);
    const termsIsChecked = ko.observable(false);
    const canSubmit = ko.computed(() =>
      ! emailBlank() && termsIsChecked()
    );

    email.subscribe((v) => emailHasChanged(true));

    return {
      email,
      emailHasChanged,
      emailBlank,
      termsIsChecked,
      canSubmit
    };
  };

  ko.applyBindings(vm());
</script>
