<%= page_heading (t :".page_heading") %>

<p><%= t :".required_field" %></p>

<%= lev_form_for :register, url: registration_complete_path, method: :put, html: {id: 'profile-form'} do |f| %>

  <%= standard_field form: f, name: :username, type: :text_field, label: (t :".username"),
                     options: {value: current_user.username} %>
  <%= standard_field form: f, name: :title, type: :text_field, label: (t :".title"),
                     options: {value: current_user.title} %>
  <%= standard_field form: f, name: :first_name, type: :text_field, label: (t :".first_name"),
                     options: {value: current_user.first_name || current_user.guessed_first_name} %>
  <%= standard_field form: f, name: :last_name, type: :text_field, label: (t :".last_name"),
                     options: {value: current_user.last_name || current_user.guessed_last_name} %>
  <%= standard_field form: f, name: :suffix, type: :text_field, label: (t :".suffix"),
                     options: {value: current_user.suffix} %>
  <%= standard_field form: f, name: :full_name, type: :text_field, label: (t :".full_name"),
                     options: {value: current_user.full_name || current_user.guessed_full_name} %>

  <% unless @contracts_not_required %>
    <%
      contracts = [FinePrint.get_contract(:general_terms_of_use),
                   FinePrint.get_contract(:privacy_policy)]

      contract_links = contracts.collect do |contract|
        link_to contract.title, term_path(contract), remote: true
      end
    %>

    <div class="checkbox">
      <label>
        <%= f.check_box :i_agree %> <%= t :".agreement_html", terms_of_use: contract_links[0], privacy_policy: contract_links[1] %> <br> <i><%= t :".notice" %></i>
      </label>
    </div>

    <%= f.hidden_field :contract_1_id, value: contracts[0].id %>
    <%= f.hidden_field :contract_2_id, value: contracts[1].id %>
  <% end %>

  <%= f.submit (t :".register"), id: "register_submit", class: 'standard' %>

<% end %>

<% unless @contracts_not_required %>
  <script type="text/javascript">
    Accounts.Ui.enableOnChecked('#register_submit', '#register_i_agree');
  </script>
<% end %>
