<%= profile_card(heading: @contract.title) do %>

  <% if FinePrint.signed_any_version_of_contract?(current_user, @contract) %>
    <p><%= t :".contracts_changed_notice", contract_title: @contract.title %></p>
  <% else %>
    <p><%= t :".contract_acceptance_required" %></p>
  <% end %>

  <div class="well">
    <%= simple_format(@contract.content) %>
  </div>

  <%= lev_form_for :agreement, url: agree_to_terms_path, method: :post do |f| %>
    <div class="checkbox">
      <label>
        <%= f.check_box :i_agree %> <%= t :".have_read_terms_and_agree" %>
      </label>
    </div>

    <%= f.hidden_field :contract_id, value: @contract.id %>
    <%= f.submit (t :".agree"), id: "agreement_submit", class: 'primary' %>
  <% end %>

<% end %>

<% content_for :javascript do %>
  <script type="text/javascript">
    Accounts.Ui.enableOnChecked('#agreement_submit', '#agreement_i_agree');
  </script>
<% end %>
