<div class="span16">
  <%= page_heading "OAuth Applications" %>
  
  <p><%= link_to 'New Application', new_oauth_application_path, style: 'float:right' %></p>

  <table class="std-list-1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Callback url</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @applications.each do |application| %>
        <tr id="application_<%= application.id %>">
          <td><%= link_to application.name, [:oauth, application] %></td>
          <td><%= application.redirect_uri %></td>
          <td><%= link_to('Edit', edit_oauth_application_path(application)) \
            if OSU::AccessPolicy.action_allowed?(:update, @user, application) %></td>
          <td><%= link_to('Remove', [:oauth, application], :data => { :confirm => 'Are you sure?' }, :method => :delete) \
            if OSU::AccessPolicy.action_allowed?(:destroy, @user, application) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
