<div class="page-header">
  <h1>Application: <%= @application.name %></h1>
</div>

<div class="row">
  <div class="col-md-8">
    <h4>Application Id:</h4>

    <p><code id="application_id"><%= @application.uid %></code></p>

    <h4>Secret:</h4>

    <p><code id="secret"><%= @application.secret %></code></p>

    <h4>Callback urls:</h4>
    <table>
      <% @application.redirect_uri.split.each do |uri| %>
        <tr>
          <td>
            <code><%= uri %></code>
          </td>
          <td>
            <%= link_to 'Authorize', oauth_authorization_path(client_id: @application.uid, redirect_uri: uri, response_type: 'code'), class: 'btn btn-success', target: '_blank' %>
          </td>
        </tr>
      <% end %>
    </table>

    <h4>Email Subject Prefix:</h4>

    <p><%= @application.email_subject_prefix %></p>

    <h4>Email From Address:</h4>

    <p><%= @application.email_from_address %></p>

    <h4>Trusted?</h4>

    <p><%= @application.trusted ? 'Yes' : 'No' %></p>

  </div>

  <div class="col-md-4">
    <h3>Actions</h3>

    <% if OSU::AccessPolicy.action_allowed?(:update, @user, @application) %>
    <p><%= link_to 'Edit', edit_oauth_application_path(@application), class: 'btn btn-primary' %></p>
    <% end %>

    <% if OSU::AccessPolicy.action_allowed?(:destroy, @user, @application) %>
    <p><%= render 'delete_form', application: @application, submit_btn_css: 'btn btn-danger' %></p>
    <% end %>
  </div>

</div>
