<%
    email_prefill_value = current_users_resetting_password_email
    email_prefill_value ||= nil # because otherwise it literally shows "false" in the form's input field
%>

<div id="login-signup-form">
    <div class="content">
        <%= render partial: 'newflow/tab_group', locals: { active_class: 'login--active' } %>

        <%= newflow_login_signup_card(
                    id: 'login-page',
                    classes: "login-page",
                    header: (I18n.t(:"login_signup_form.login_page_header")),
                    banners: @banners,
                    show_exit_icon: true) do %>
            <% lev_form_for :login_form, url: newflow_login_path do |f| %>
                <%
                    fh = NewflowFormHelper::Newflow.new(f: f, context: self, errors: @handler_result&.errors)
                    @page_title = 'Log in'
                %>
                <fieldset class="content social-section">
                    <div class="social-buttons">
                        <div class="fb-share-button">
                            <%=
                                link_to(
                                    newflow_auth_path(:facebooknewflow, origin: :login_form),
                                    class: 'facebook btn',
                                    data: { ga_category: 'Login', ga_action: 'Click', ga_label: 'Facebook' }
                                ) do
                            %>
                                <i class="social-icon fa fa-facebook"></i>
                                <span>Facebook</span>
                            <% end %>
                        </div>

                        <div class="google-share-button">
                            <%=
                                link_to(
                                    newflow_auth_path(:googlenewflow, origin: :login_form),
                                    class: 'google btn',
                                    data: { ga_category: 'Login', ga_action: 'Click', ga_label: 'Google' }
                                ) do
                            %>
                                <i class="social-icon fa fa-google"></i>
                                <span>Google</span>
                            <% end %>
                        </div>
                    </div>
                </fieldset>

      <%=
        render(
          partial: 'newflow/form_divider',
          locals: { dividing_text: I18n.t(:"login_signup_form.or_login_below") }
        )
      %>

      <p class="content form-helper-text">Fields marked with a * are required</p>

      <div class="content control-group">
        <%= label_tag "login_form_#{:email}", I18n.t(:"login_signup_form.email_label"),
                      class: 'field-label required' %>
        <%= fh.text_field name: :email,
                          value: email_prefill_value,
                          placeholder: I18n.t(:"login_signup_form.email_placeholder"),
                          autofocus: true,
                          required: true %>
      </div>

      <div class="content control-group">
        <div id="password-field-container">
          <%= label_tag "login_form_#{:password}", I18n.t(:"login_signup_form.password_label"),
                        class: 'field-label required' %>
          <%= fh.text_field name: :password,
                            type: :password,
                            placeholder: I18n.t(:"login_signup_form.password_label"),
                            required: true %>
          <button type="button" id="password-show-hide-button">
            <span class="toggle-show-hide" data-ga_category='SHOW/HIDE password', data-ga_action='Click', data-ga_label='SHOW - Logon'>SHOW</span>
            <span class="toggle-show-hide" style="display: none">HIDE</span>
          </button>
        </div>
      </div>

      <div class="content">
                    <%= f.submit I18n.t(:"login_signup_form.continue_button"),
                                disable_with: I18n.t(:"login_signup_form.continue_button"),
                                class: 'primary',
                                data: { ga_category: 'Login', ga_action: 'Click', ga_label: 'Email' },
                                disabled: 'disabled'
                    %>
                </div>

                <div class="content">
                    <%=
                        link_to(
                            I18n.t(:"login_signup_form.forgot_password"),
                            forgot_password_form_path,
                            id: 'forgot-password-link',
                            data: {
                                ga_category: 'Login',
                                ga_action: 'Click',
                                ga_label: 'Password Reset'
                            }
                        )
                    %>
                </div>
            <% end  %>
        <% end  %>
    </div>
</div>

<script type="text/javascript">
    NewflowUi.focusOnFirstErrorItem();
    const $requiredInputs = $('form input[aria-required="true"]');
    const handleDisable = () => {
        const disableSubmit = $requiredInputs.toArray().some((i) => i.value.length == 0);

        if (disableSubmit) {
            NewflowUi.disableButton('form [type="submit"]');
        } else {
            NewflowUi.enableButton('form [type="submit"]');
        }    
    }

    $requiredInputs.on('input', handleDisable);
    handleDisable();
</script>
