<% # Clients of this partial must supply the following variables:
   # user
%>

<% if user.is_activated? %>

  <%= form_for user, url: profile_path, html: {class: 'form-horizontal profile-edit'} do |f| %>
    <div class="row">

      <div class="col-sm-1">
        <%= f.label :title, (t :".title") %>
        <%= f.text_field :title %>
      </div>

      <div class="col-sm-3">
        <%= f.label :first_name, (t :".first_name") %>
        <%= f.text_field :first_name, value: user.first_name || \
            user.guessed_first_name %>
      </div>

      <div class="col-sm-3">
        <%= f.label :last_name, (t :".last_name") %>
        <%= f.text_field :last_name, value: user.last_name || \
            user.guessed_last_name %>
      </div>

      <div class="col-sm-2">
        <%= f.label :suffix, (t :".suffix") %>
        <%= f.text_field :suffix, value: user.suffix %>
      </div>

      <div class="horizontal-submit col-sm-3">
        <%= f.submit (t :".update_profile"), class: 'standard' %>
      </div>

    </div>
  <% end %>

<% else %>
  <div class="well">
    <%= t :".not_yet_activated_notice" %>
  </div>
<% end %>
