<% # Clients of this partial must supply the following variables:
   # user
%>

<% if user.is_activated? %>

  <%= form_for user, url: profile_path, html: {class: 'form-horizontal profile-edit'} do |f| %>
    <div class="row">

      <div class="col-sm-1">
        <%= f.label :title, "Title" %>
        <%= f.text_field :title %>
      </div>

      <div class="col-sm-3">
        <%= f.label :first_name, "First Name" %>
        <%= f.text_field :first_name, value: user.first_name || \
            user.guessed_first_name %>
      </div>

      <div class="col-sm-3">
        <%= f.label :last_name, "Last Name" %>
        <%= f.text_field :last_name, value: user.last_name || \
            user.guessed_last_name %>
      </div>

      <div class="col-sm-2">
        <%= f.label :suffix, 'Suffix' %>
        <%= f.text_field :suffix, value: user.suffix %>
      </div>

      <div class="horizontal-submit col-sm-3">
        <%= f.submit "Update Profile", class: 'standard' %>
      </div>

    </div>
  <% end %>

<% else %>
  <div class="well">
    These options will be available after you have clicked the button in the upper right to finish sign up.
  </div>
<% end %>
