<% @parent_col_id = "profile" %>

<% content_for :head do %>
  <%= javascript_include_tag  "profile" %>
<% end %>

<%= ox_card do %>

  <div class="profile-title">
    <%= link_to (t :".sign_out"), main_app.signout_path, class: 'sign-out' %>
    <h1 class="title"><%= t '.page_heading' %></h1>
  </div>

  <div class="row name">
    <div class="col-sm-2 category">
      <%= t :".name" %>
    </div>
    <div class="col-sm-10 info">
      <a href="#" id="name" class="editable" data-type="profile_name"><%= current_user.full_name %></a>
    </div>
  </div>

  <% if current_user.username.present? %>
  <div class="row">
    <div class="col-sm-2 category">
      <%= t :".username" %>
    </div>
    <div class="col-sm-10 info">
      <a href="#" id="username" class="editable" data-name="username" data-type="text"><%= current_user.username %></a>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col-sm-2 category">
      <%= t :".email_addresses" %>
    </div>
    <div id="email-template" style="display:none">
      <%= email_entry(value: "", id: "", is_verified: false, is_searchable: "") %>
    </div>
    <div class="col-sm-10 info">
      <% current_user.email_addresses.order(:created_at).each do |email| %>
        <%= email_entry(value: email.value, id: email.id, is_verified: email.verified, is_searchable: email.is_searchable) %>
      <% end %>
      <%= link_to (t :".add_email_address"), '#', {id: 'add-an-email'} %>
    </div>
  </div>

  <%
    # all_providers = %w(facebook google_oauth2 identity twitter)
    all_providers = OmniauthData::VALID_PROVIDERS

    # The `all providers &` enforces a standard sort order
    current_providers = all_providers & current_user.authentications.collect(&:provider)
    other_providers   = all_providers - current_providers - ['twitter']
  %>

  <div class="row enabled-providers">
    <div class="col-sm-2 category">
      <%= t :".how_you_sign_in_html" %>
    </div>
    <div class="col-sm-10 info providers">
      <% current_providers.each do |provider| %>
        <%= way_to_login(provider: provider, has_authentication: true, current_providers: current_providers) %>
      <% end %>
    </div>
    <% if other_providers.any? %>
    <div class="col-sm-offset-2 info col-sm-10"><%= link_to (t :".enable_other_sign_in_options"), nil, id: 'enable-other-sign-in' %></div>
    <% end %>

  </div>

  <div class="row other-sign-in">
    <div class="col-sm-2 category">
      <%= t :".other_sign_in_options_html" %>
    </div>
    <div class="col-sm-10 info providers">
      <% other_providers.each do |provider| %>
        <%= way_to_login(provider: provider, has_authentication: false, current_providers: current_providers) %>
      <% end %>
    </div>
  </div>

<% end %>

<%= content_for :javascript do %>
<script type="text/javascript">

$.fn.editable.defaults.mode = 'inline';
$.fn.editable.defaults.send = "always";
$.fn.editable.defaults.ajaxOptions = {type: "PUT"};
$.fn.editable.defaults.url = "<%= profile_path %>";

$('#username').editable({
  success: function(response, newValue) {
    $('#session-info .username').text(newValue);
  }
});

OX.Profile.Name.editable($('#name'), {
    title: "<%= current_user.title %>",
    first_name: "<%= current_user.first_name %>",
    last_name: "<%= current_user.last_name %>",
    suffix: "<%= current_user.suffix %>"
});


</script>
<% end # javscript content block %>
