<%= lev_form_for :signup, url: url, html: {id: 'signup'} do |f| %>

  <div class="signup row">

    <div class="col-sm-6">
      <% user = signed_in? ? current_user : OpenStruct.new %>
      <% is_social_signup = signed_in? %>
      <% email = user.email_addresses.try(:first).try(:value) %>

      <%= standard_field form: f, name: :title, type: :text_field, label: "Title",
                         options: {value: user.title, hide: true} %>
      <%= standard_field form: f, name: :first_name, type: :text_field, label: "First Name *",
                         options: {value: user.first_name || user.guessed_first_name} %>
      <%= standard_field form: f, name: :last_name, type: :text_field, label: "Last Name *",
                         options: {value: user.last_name || user.guessed_last_name} %>
      <%= standard_field form: f, name: :suffix, type: :text_field, label: "Suffix",
                         options: {value: user.suffix, hide: true} %>
      <%= standard_field form: f, name: :email_address, type: :text_field, label: "Email Address *",
                         options: {value: email, disabled: email.present?} %>
      <%= standard_field form: f, name: :username, type: :text_field, label: "Username *",
                         options: {value: user.username} %>

      <% if is_social_signup %>
        <% provider = user.authentications.first.provider %>
        <% # TODO add provider logo, like on profile page %>
        <b>Password managed by <%= provider.capitalize %></b>
      <% else %>
        <%= standard_field form: f, name: :password, type: :password_field, label: "Password *" %>
        <%= standard_field form: f, name: :password_confirmation, type: :password_field, label: "Confirm Password *" %>
      <% end %>
    </div>

    <div class="col-xs-12">
      <% unless @contracts_not_required %>
        <%
          contracts = [FinePrint.get_contract(:general_terms_of_use),
                       FinePrint.get_contract(:privacy_policy)]

          contract_links = contracts.collect do |contract|
            link_to contract.title, term_path(contract), remote: true
          end
        %>

        <div class="checkbox">
          <label>
            <%= f.check_box :i_agree %> I have read the <%= contract_links[0] %> and the
            <%= contract_links[1] %> and I agree to be bound by their terms.<br/>
            <i>Note that other OpenStax sites may have terms of their own.</i>
          </label>
        </div>

        <%= f.hidden_field :contract_1_id, value: contracts[0].id %>
        <%= f.hidden_field :contract_2_id, value: contracts[1].id %>
      <% end %>

      <%= f.submit "Register", id: "register_submit", class: 'btn btn-primary' %>
    </div>

  </div>

<% end %>

<% unless @contracts_not_required %>
  <script type="text/javascript">
    Accounts.Ui.enableOnChecked('#register_submit', '#signup_i_agree');
  </script>
<% end %>
