<% # Clients of this partial must supply the following variables:
   # identity
%>

<% if identity.user.is_activated? %>

  <%= form_for identity, url: identity_path,
               html: {class: 'form-horizontal'} do |f| %>
  <div class="row">

    <div class="col-sm-3">
      <%= f.label :current_password, (t :".current_password") %>
      <%= f.password_field :current_password %>
    </div>

    <div class="col-sm-3">
      <%= f.label :password, (t :".new_password") %>
      <%= f.password_field :password %>
    </div>

    <div class="col-sm-3 nowrap">
      <%= f.label :password_confirmation, (t :".new_password_confirmation") %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="horizontal-submit col-sm-3">
      <%= f.submit (t :".change_password"), class: 'standard' %>
    </div>

  </div>
  <% end %>

<% else %>
  <div class="well">
    <%= t :".not_yet_activated_notice" %>
  </div>
<% end %>
