<% # Clients of this partial must supply the following variables:
   # identity
%>

<% if identity.user.is_activated? %>

  <%= form_for identity, url: identity_path,
               html: {class: 'form-horizontal'} do |f| %>
  <div class="row">

    <div class="col-sm-3">
      <%= f.label :current_password, "Current Password" %>
      <%= f.password_field :current_password %>
    </div>

    <div class="col-sm-3">
      <%= f.label :password, "New Password" %>
      <%= f.password_field :password %>
    </div>

    <div class="col-sm-3 nowrap">
      <%= f.label :password_confirmation, "New Password Confirmation" %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="horizontal-submit col-sm-3">
      <%= f.submit "Change Password", class: 'standard' %>
    </div>

  </div>
  <% end %>

<% else %>
  <div class="well">
    These options will be available after you have clicked the button in the upper right to finish sign up.
  </div>
<% end %>
