<% # Clients of this partial must supply the following variables:
   # identity
%>

<%= form_for identity, url: identity_path,
             html: {class: 'form-horizontal'} do |f| %>
  <div class="row">
    <span class="col-sm-3">
      <%= f.label :current_password, "Current Password" %>
    </span>

    <span class="col-sm-3">
      <%= f.label :password, "New Password" %>
    </span>

    <span class="col-sm-3">
      <%= f.label :password_confirmation, "New Password Confirmation" %>
    </span>
  </div>
  <div class="row">
    <span class="col-sm-3">
      <%= f.password_field :current_password %>
    </span>

    <span class="col-sm-3">
      <%= f.password_field :password %>
    </span>

    <span class="col-sm-3">
      <%= f.password_field :password_confirmation %>
    </span>

    <span class="col-sm-3">
      <%= f.submit "Change Password", class: 'standard' %>
    </span>
  </div>
<% end %>
