<div class="content control-group">
  <div id="password-field-container">
    <div class="input-with-tooltip" data-bind="passwordWithToolTip: 8">
      <%= label_tag(:password, I18n.t(:"login_signup_form.password_label"), class: 'field-label') %>
      <span id="password-show-hide-button">
          <span class="toggle-show-hide show">
            <%= I18n.t(:"login_signup_form.show_password_btn") %>
          </span>
          <span class="toggle-show-hide hide">
            <%= I18n.t(:"login_signup_form.hide_password_btn") %>
          </span>
      </span>
      <%=
        fh.text_field(
          name:        :password,
          type:        :password,
          placeholder: I18n.t(:"login_signup_form.password_label"),
          autocomplete: "current-password"
        )
      %>
      <div class="tooltip">
        <h4><%= I18n.t(:"login_signup_form.password_requirements") %></h4>
        <div>
          <i id="password-requirements-checkmark" class="fa fa-check-circle">
          </i>
          <%= I18n.t(:"login_signup_form.min_characters", number: 8) %>
        </div>
      </div>
    </div>
  </div>
</div>
