<%= page_heading 'Sign up' %>


<div id="signup-alternatives">
  <p><b>Save yourself the hassle</b> of remembering yet another password &mdash; register using your Facebook, Twitter, or Google account.</p>
  <center>
    <%= link_to "/auth/facebook", {class: 'login-button'} do %>
      <%= image_tag "fb_64.png", title: "Sign in using your Facebook account" -%>
    <% end %>
    <%= link_to "/auth/twitter", {class: 'login-button'} do %>
      <%= image_tag "twitter_64.png", title: "Sign in using your Twitter account" -%>
    <% end %>
    <%= link_to "/auth/google_oauth2", {class: 'login-button'} do %>
      <%= image_tag "g_64.png", title: "Sign in using your Google account" -%>
    <% end %>
  </center>
</div>

<%= lev_form_for :register, url: '/auth/identity/register', html: {id: 'identity-register'} do |f| %>

<% if signed_in? %>
  <p>Please choose a password.</p>
<% else %>
  <p>When you create an OpenStax account, we'll send a verification link to the email address you use to create the account. If you don't verify your address, you may not be able to access certain OpenStax features.</p>
<% end %>

  <%= standard_field form: f, name: :email, type: :email_field, label: 'Email Address' %>

<% if !signed_in? %>
  <%= standard_field form: f, name: :username, type: :text_field, label: "Username" %>
<% end %>
  
  <%#= standard_field form: f, name: :first_name, type: :text_field, label: "First Name" %>
  <%#= standard_field form: f, name: :last_name, type: :text_field, label: "Last Name" %>

  <%= standard_field form: f, name: :password, type: :password_field, label: "Password" %>
  <%= standard_field form: f, name: :password_confirmation, type: :password_field, label: "Password Again" %>

  <%= submit_tag "Register", class: 'standard' %>
<% end %>
