<%= page_heading (t :".page_heading") %>

<div class="signup">

<div id="signup-alternatives">
  <p><%= t :".suggest_using_social_media_login_html" %></p>
  <center>
    <%= link_to "/auth/facebook", {class: 'login-button'} do %>
      <%= image_tag "fb_64.png", title: (t :".facebook_title") -%>
    <% end %>
    <%= link_to "/auth/twitter", {class: 'login-button'} do %>
      <%= image_tag "twitter_64.png", title: (t :".twitter_title") -%>
    <% end %>
    <%= link_to "/auth/google_oauth2", {class: 'login-button'} do %>
      <%= image_tag "g_64.png", title: (t :".google_title") -%>
    <% end %>
  </center>
</div>

<%= lev_form_for :register, url: '/auth/identity/register', html: {id: 'identity-register'} do |f| %>

<% if signed_in? %>
  <p><%= t :".choose_a_password" %></p>
<% else %>
  <p><%= t :".email_verification_notice" %></p>
<% end %>

  <%= standard_field form: f, name: :email, type: :email_field, label: (t :".email_address") %>

<% if !signed_in? %>
  <%= standard_field form: f, name: :username, type: :text_field, label: (t :".username") %>
<% end %>

  <%#= standard_field form: f, name: :first_name, type: :text_field, label: "First Name" %>
  <%#= standard_field form: f, name: :last_name, type: :text_field, label: "Last Name" %>

  <%= standard_field form: f, name: :password, type: :password_field, label: (t :".password") %>
  <%= standard_field form: f, name: :password_confirmation, type: :password_field, label: (t :".password_again") %>

  <%= hidden_field_tag :stored_url, stored_url %>

  <%= submit_tag (t :".continue"), class: 'standard' %>
<% end %>

</div>
