<% @hide_layout_errors = true %>

<div class="ox-card reset-password">

  <h1><%= t ".page_heading" %></h1>

  <% if @handler_result.errors.any? do |error|
       error.code == :invalid_code || error.code == :expired_code
     end %>

    <h4><%= render(partial: "layouts/attention") %></h4>

    <p><%= t :".there_was_a_problem_with_reset_link" %></p>

  <% else %>

    <p><%= t :".use_form_below_to_reset_password" %></p>


    <% if !@handler_result.errors.has_offending_input? :code %>
      <%= lev_form_for :reset_password, url: '' do |f| %>
      <%= standard_field form: f, name: :password,
          type: :password_field,
          label: (t :".password") %>
      <%= standard_field form: f, name: :password_confirmation,
          type: :password_field,
          label: (t :".confirm_password") %>
      <%= hidden_field_tag :code, params[:code] %>
      <%= render(partial: "layouts/attention") %>
      <%= submit_tag (t :".set_password"), class: 'primary' %>
      <% end %>
    <% end %>

  <% end %>
</div>
