<% @hide_layout_errors = true %>

<div class="ox-card reset-password">

  <h1><%= t ".page_heading" %></h1>

  <%
    error_codes = @handler_result.errors.map(&:code)

    big_time_error_message =
      case error_codes.first
      when :token_blank, :unknown_login_token
        t :"identities.there_was_a_problem_with_reset_link"
      when :expired_login_token
        t :"identities.expired_reset_link"
      end

   if big_time_error_message %>

    <p><%= big_time_error_message %></p>

  <% else %>

    <p><%= t :".use_form_below_to_reset_password" %></p>

      <%= lev_form_for :set_password, url: '',
        html: {class: collect_errors.any? ? 'is-invalid' : ''} do |f| %>
        <%= standard_field form: f, name: :password,
            type: :password_field,
            label: (t :"identities.password") %>
        <%= standard_field form: f, name: :password_confirmation,
            type: :password_field,
            label: (t :"identities.confirm_password") %>
        <%= render(partial: "layouts/attention") %>
        <%= submit_tag (t :"identities.set_password"), class: 'primary' %>
      <% end %>


  <% end %>
</div>
