<% @parent_col_id = "reset-password" %>

<%# TODO restyle this page %>

<%= page_heading (t :".page_heading") %>

<% if @handler_result.errors.any? do |error|
     error.code == :invalid_code || error.code == :expired_code
   end %>

  <p><%= t :".there_was_a_problem_with_reset_link" %></p>

<% else %>
  <div class="row">
    <div class="col-xs-12">
      <p><%= t :".use_form_below_to_reset_password" %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">

      <% if !@handler_result.errors.has_offending_input? :code %>
        <%= lev_form_for :reset_password, url: '' do |f| %>
          <%= standard_field form: f, name: :password,
                                      type: :password_field,
                                      label: (t :".password") %>
          <%= standard_field form: f, name: :password_confirmation,
                                      type: :password_field,
                                      label: (t :".confirm_password") %>
          <%= hidden_field_tag :code, params[:code] %>
          <%= submit_tag (t :".set_password"), class: 'btn btn-primary' %>
        <% end %>
      <% end %>

    </div>
  </div>

<% end %>
