<p>Hi <%= @email_address.user.casual_name %>,</p>

<p>Someone is trying to add '<%= @email_address.value %>' to an OpenStax account.  If this wasn't you, please disregard this message.</p>

<% if @show_pin %>
  <p>Enter your 6-digit code in the PIN field in your browser to confirm your email address:</p>

  <p>Your PIN: <b><%= @email_address.confirmation_pin %></b></p>

  <p>If you have any trouble using this PIN, you can also click the link below to confirm your email address:</p>
<% else %>
  <p>Click on the link below to confirm your email address:</p>
<% end %>


<%
  token_url = confirm_url(code: @email_address.confirmation_code)
%>

<p><%= link_to token_url, token_url %></p>

<%= render :partial => 'shared/email_closing' %>
