<div class="form-group question how-chosen" data-bind="visible: showChosenAndUsingSections">
  <div class="radio-control-group">
    <%
      options = [
        [ :instructor, 'instructor', "chosen_by_instructor" ],
        [ :committee, 'committee', "chosen_by_committee" ],
        [ :coordinator, 'coordinator', "chosen_by_coordinator" ]
      ]
    %>
    <%= label_tag :who_chooses_books, I18n.t(:"educator_profile_form.how_textbooks_chosen"), class: 'field-label' %>
    <div class="chosen mustdo-alert" data-bind="visible: chosenNoticeVisible">
      <%= I18n.t(:"educator_profile_form.select_option") %>
    </div>
    <% options.each do |(role, value, label_key)| %>
      <% id = "signup_who_chooses_books_#{value}".to_sym %>
      <label for="<%= id %>" class="custom-control-label">
        <input type="radio"
          value="<%= value %>"
          id="<%= id %>"
          class="custom-control-input"
          name="signup[who_chooses_books]"
          data-bind="checked: howChosen"
        >
        <span>
          <%= I18n.t(:"educator_profile_form.#{label_key}") %>
        </span>
      </label>
    <% end %>
  </div>
</div>
