<% @page_header = "User Reports" %>

<h3>Users</h3>
<p>
  Total Users: <%= User.count %> <br>
  Student Users: <%= User.student.count %> <br>
  Instructor Users: <%= User.instructor.count %> <br>
  Unknown Role Users: <%= User.unknown_role.count %> <br>
  <hr>
</p>

<h3>Faculty</h3>
<p>
  Confirmed Faculty: <%= User.confirmed_faculty.count %> <br>
  Pending Faculty: <%= User.pending_faculty.count %> <br>
  Rejected Faculty: <%= User.rejected_faculty.count %> <br>
  Confirmed Faculty with Unknown Roles: <%= User.unknown_role.confirmed_faculty.count %> <br>
  <hr>
</p>

<h3>Students</h3>
<p>
  Student accounts created since July 1: <%= User.student.where(created_at: DateTime.beginning_of_rice_fiscal_year..DateTime.now).count %> <br>
  Student accounts created in the past week: <%= User.student.where(created_at: DateTime.now - 1.week..DateTime.now).count %>
</p>

