<% @page_header = "User Reports" %>

<h3>Users</h3>
<p>
  Total Users: <%= User.count %> <br>
  Student Users: <%= User.student.count %> <br>
  Instructor Users: <%= User.instructor.count %> <br>
  Unknown Role Users: <%= User.unknown_role.count %> <br>
<br>
What's the average time someone spends signing up (started the process but did not finish)? <br>
  <%= average_time_for_users_to_become_activated() %><br><br>
  How many people start the account creation process versus how many finish it?
<br>
  <% since_year = 2018 %>
  <% years = since_year..Time.now.year %>
  <% years.each do |year| %>
    <% time_range = Time.local(year)..Time.local(year + 1) %>
    <% pas = PreAuthState.where(created_at: time_range).count %>
    <% users = User.where(state: User::ACTIVATED, created_at: time_range, is_newflow: false).count %>

    <%= "#{year}:  #{pas} started / #{users} finished = #{ ((users > 0 ? (pas / Float(users)) : 0) * 100).round(2) }%" %>

    <% if year >= 2020 %>
      <br>
      <% unverified_users = User.where(state: 'unverified').count %>
      <% newflow_users = User.where(state: User::ACTIVATED, created_at: time_range, is_newflow: true).count %>
      <%= "New flow #{year}:  #{unverified_users} started / #{newflow_users} finished = #{ ((newflow_users > 0 ? (unverified_users / Float(newflow_users)) : 0) * 100).round(2) }%" %>
    <% end %>

    <br>
  <% end %>

  <hr>
</p>

<h3>Faculty</h3>
<p>
  Confirmed Faculty: <%= User.confirmed_faculty.count %> <br>
  Pending Faculty: <%= User.pending_faculty.count %> <br>
  Rejected Faculty: <%= User.rejected_faculty.count %> <br>
  Confirmed Faculty with Unknown Roles: <%= User.unknown_role.confirmed_faculty.count %> <br>
  <hr>
</p>

<h3>Students</h3>
<p>
  Student accounts created since July 1: <%= User.student.where(created_at: DateTime.beginning_of_rice_fiscal_year..DateTime.now).count %> <br>
  Student accounts created in the past week: <%= User.student.where(created_at: DateTime.now - 1.week..DateTime.now).count %> <br>
  <table>
    <thead>
      <th>Date</th>
      <th>Count</th>
    </thead>
    <tbody>
    <% (1..10).each do |ii| %>
      <tr><td style="padding: 0 15px;"><%= "#{(ii).days.ago.strftime("%_m/%d %a")}" %></td><td><%= "#{User.student.where(created_at: ii.days.ago.midnight..(ii-1).days.ago.midnight).count}" %></td></tr>
    <% end %>
    </tbody>
  </table>

</p>
