
<%= osu.block_to_partial 'shared/modal',
                         html_id: 'admin_console_dialog',
                         width: '900px',
                         height: '500px' do %>

  <div class="modal-header" style="border-bottom: none">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <ul class="nav nav-tabs tight-bottom">
      <li class="active"><a href="#misc-tab" data-toggle="tab">Misc</a></li>
      <li><a href="#users-tab" data-toggle="tab">Users</a></li>
      <li><a href="#links-tab" data-toggle="tab">Links</a></li>
      <% unless Rails.env.production? %>
        <li class="dev"><a href="#dev-tab" data-toggle="tab">Dev</a></li>
      <% end %>
    </ul>
  </div>

  <div class="modal-body">

    <div id="dialog-local-alerts"></div>

    <div class="tab-content">
      <div class="tab-pane active" id="misc-tab">
        <%= render 'misc' %>
      </div>

      <div class="tab-pane" id="users-tab">
        <%= render 'users' %>
      </div>

      <div class="tab-pane" id="links-tab">
        <%= render 'links' %>
      </div>

      <% unless Rails.env.production? %>
        <div class="tab-pane" id="dev-tab">
          <%= render 'dev/base/index' %>
        </div>
      <% end %>
    </div>
    
  </div>

<% end %>
