<h4>Misc</h4>

<ul class="normal">
  <li><%= link_to "Run cron tasks", admin_cron_path, :method => :put, :test => "run_cron_tasks" %></li>
  <li>Raise an Exception:
    <ul class="normal">
      <li><%= link_to "SecurityTransgression",                admin_raise_exception_path('security_transgression') %></li>
      <li><%= link_to "ActiveRecord::RecordNotFound",         admin_raise_exception_path('record_not_found') %></li>
      <li><%= link_to "ActionController::RoutingError",       admin_raise_exception_path('routing_error') %></li>
      <li><%= link_to "ActionController::UnknownController",  admin_raise_exception_path('unknown_controller') %></li>
      <li><%= link_to "ActionController::UnknownAction",      admin_raise_exception_path('unknown_action') %></li>
      <li><%= link_to "ActionView::MissingTemplate",          admin_raise_exception_path('missing_template') %></li>
      <li><%= link_to "NotYetImplemented",                    admin_raise_exception_path('not_yet_implemented') %></li>
      <li><%= link_to "IllegalArgument",                      admin_raise_exception_path('illegal_argument') %></li>
      <li><%= link_to "IllegalState",                      admin_raise_exception_path('illegal_state') %></li>
    </ul>
  </li>
</ul>
