<%
    email_prefill_value = current_users_resetting_password_email
    email_prefill_value ||= nil # because otherwise it literally shows "false" in the form's input field
%>

<div id="login-signup-form">
    <div class="content">
        <%= render partial: 'shared/tab_group' , locals: { active_class: 'login--active' } %>

        <%= login_signup_card(
                    classes: "login-page",
                    header: (I18n.t(:"login_signup_form.login_page_header")),
                    banners: @banners,
                    show_exit_icon: true) do %>
            <% lev_form_for :login_form, url: login_path do |f| %>
                <% fh = NewflowFormHelper::Newflow.new(f: f, context: self, errors: @handler_result&.errors) %>
                    <div class="content social-section">
                        <div><%= I18n.t(:"login_signup_form.login_with") %></div>

                        <div class="social-buttons">

                            <div class="fb-share-button">
                                <%= link_to oauth_path(:facebooknewflow), class: 'facebook btn' do %>
                                    <i class="social-icon fa fa-facebook"></i>
                                    <span>Facebook</span>
                                <% end %>
                            </div>

                            <div class="google-share-button">
                                <%= link_to oauth_path(:googlenewflow), class: 'google btn' do %>
                                    <i class="social-icon fa fa-google"></i>
                                    <span>Google</span>
                                <% end %>
                            </div>

                        </div>
                    </div>

                    <%=
                        render(
                            partial: 'shared/form_divider',
                            locals: {
                                dividing_text: I18n.t(:"login_signup_form.or_login_below")
                            }
                        )
                    %>

                    <div class="content control-group">
                        <%= label_tag :email, I18n.t(:"login_signup_form.email_label"),
                                    class: 'field-label required'
                        %>
                        <%# input type is text instead of email bc we also support usernames %>
                        <%= fh.text_field name: :email,
                                    value: email_prefill_value,
                                    placeholder: I18n.t(:"login_signup_form.email_placeholder"),
                                    readonly: email_prefill_value.present?
                        %>

                    </div>

                    <%= render partial: 'shared/password_control_group', locals: { fh: fh } %>

                    <div class="content">
                        <%= f.submit I18n.t(:"login_signup_form.continue_button"),
                                    disable_with: I18n.t(:"login_signup_form.continue_button"),
                                    class: 'primary'
                        %>
                    </div>

                    <div class="content">
                        <%# This is one difference from the login form...
                             #  POST request to send_reset_password_email_path
                             #  instead of GET request to forgot_password_form_path
                        %>
                        <%=
                            link_to(
                                I18n.t(:"login_signup_form.forgot_password"),
                                send_reset_password_email_path,
                                id: 'forgot-password-link',
                                method: :post
                            )
                        %>
                    </div>
            <% end  %>
        <% end  %>
    </div>
    <%= javascript_include_tag 'application/ko_extensions' %>
</div>
<script>
  // Necessary for password
  ko.applyBindings({});
</script>
