<%
  @parent_col_id = "profile"
  @using_os = current_user.using_openstax
  @framed = request.params[:iframe].present?
%>

<% content_for :head do %>
  <%= javascript_include_tag  "profile" %>
<% end %>

<%= ox_card do %>
  <div class="profile-title">
    <h1 class="title"><%= t :"login_signup_form.profile_newflow_page_header" %></h1>
    <%=
      button_to(
        I18n.t(:"legacy.users.edit.sign_out"),
        newflow_logout_path,
        class: 'sign-out',
        method: :get,
        data: {
          'ga-category': 'Logout',
          'ga-action': 'Click',
          'ga-label': 'Logout',
          'using-openstax': @using_os
        }
      )
    %>
  </div>

  <%= render 'shared/personal_information_section' %>

  <% unless @framed %>
    <hr>
    <div class="row">
      <%= render 'shared/resources_section' %>
    </div>
    <hr>
    <%= render 'shared/support_section' %>
  <% end %>

<% end %>
