<%
  @parent_col_id = "profile"
  @using_os = current_user.using_openstax
  @framed = request.params[:iframe].present?
%>

<% content_for :head do %>
  <%= javascript_include_tag  "profile" %>
<% end %>

<% unless @framed %>
<div id="temporary-logo-within-my-account">
  <%= render(partial: 'layouts/main_menu') %>
</div>
<% end %>

<style>
  body {
    background: none;
  }

  #application-header {
    display: none;
  }

  a, #enable-other-sign-in, #add-an-email, .resend-confirmation input[type=submit] {
    color: #027eb5 !important;
  }

  .ox-card {
    background-color: #fff;
  }

  #profile .ox-card .category {
    color: var(--greyish-brown);
  }

  #application-footer {
    display: none;
  }

  #newflow-footer {
      font-size: 10px;
      text-align: center;
      margin-top: 8rem;
  }

  #newflow-footer--copyright a {
    font-size: 10px;
    color: #000 !important;
  }

  #footer-rice-logo-image {
    max-height: 3.7rem;
    margin-bottom: 1.2rem;
  }

  .ox-card {
    height: 90rem;
  }

  .btn-primary {
    background-color: #f36b32;
    border: 0;
  }

  .escape-buttons {
      color: #fff !important;
      width: 100%;
      margin:10px;
  }

 .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1000px;
    width: 100%;
}
 .card-link {
     text-decoration: none !important;
 }
.card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
.card:hover {
    transform: translateY(-10px);
}
.card h2 {
    margin-bottom: 15px;
    color: #027eb5;
    font-size: 15px;
}
.card p {
    margin-bottom: 20px;
    color: #666;
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
    .card {
        padding: 20px;
    }
    .card h2 {
        font-size: 1.1em;
    }
}

</style>

<%= ox_card do %>
  <div class="profile-title">
    <h1 class="title"><%= t :"login_signup_form.profile_newflow_page_header" %></h1>
    <%=
      button_to(
        I18n.t(:"legacy.users.edit.sign_out"),
        newflow_logout_path,
        class: 'sign-out',
        data: {
          'ga-category': 'Logout',
          'ga-action': 'Click',
          'ga-label': 'Logout',
          'using-openstax': @using_os
        }
      )
    %>
  </div>

  <div class="row name">
    <div class="col-sm-2 category">
      <%= I18n.t(:"legacy.users.edit.name") %>
    </div>
    <div class="col-sm-10 info">
      <button href="#" id="name" class="editable" data-type="profile_name"><%= current_user.full_name %></button>
    </div>
  </div>

  <% if current_user.username.present? %>
  <div class="row">
    <div class="col-sm-2 category">
      <%= I18n.t(:"legacy.users.edit.username") %>
    </div>
    <div class="col-sm-10 info">
      <a href="#" id="username" class="editable" data-name="username" data-type="text"><%= current_user.username %></a>
    </div>
  </div>
  <% end %>


    <div class="row">
      <div class="col-sm-2 category">
        <%= t(:"legacy.users.edit.email_addresses") %>
      </div>
      <div id="email-template" style="display:none">
        <%= email_entry(value: "", id: "", is_verified: false, is_searchable: "") %>
      </div>
      <div class="col-sm-10 info">
        <% current_user.email_addresses.order(:created_at).each do |email| %>
          <%= email_entry(value: email.value, id: email.id, is_verified: email.verified, is_searchable: email.is_searchable) %>
        <% end %>

  <% unless @framed %>
        <div id="add-an-email-editable"></div>
        <button type="button" id="add-an-email"
          data-ga-category="My Account"
          data-ga-action="Click"
          data-ga-label="Add Email Address"
          data-using-openstax="<%= @using_os %>"
        ><%= I18n.t(:"legacy.users.edit.add_email_address") %></button>
      </div>
    </div>

    <%
      all_providers = OmniauthData::VALID_PROVIDERS
      oldflow_providers = %w(facebook google_oauth2)
      newflow_providers = %w(facebooknewflow googlenewflow)

      # The `all providers &` enforces a standard sort order
      current_providers = all_providers & current_user.authentications.collect(&:provider) - oldflow_providers
      other_available_providers = all_providers - current_providers - ['twitter', oldflow_providers].flatten
    %>

    <div class="row enabled-providers">
      <div class="col-sm-2 category">
        <%= t(:"login_signup_form.how_you_log_in") %>
      </div>
      <div class="col-sm-10 info providers">
        <% current_providers.each do |provider| %>
          <%= newflow_way_to_login(provider: provider, has_authentication: true, current_providers: current_providers) %>
        <% end %>
      </div>
      <% if other_available_providers.any? %>
      <div class="col-sm-offset-2 info col-sm-10">
        <button id="enable-other-sign-in"><%= I18n.t(:"student_profile.enable_other_sign_in_options") %></button>
      </div>
      <% end %>

    </div>

    <div class="row other-sign-in">
      <div class="col-sm-2 category">
        <%= I18n.t(:"student_profile.other_sign_in_options_html").html_safe %>
      </div>
      <div class="col-sm-10 info providers">
        <% other_available_providers.each do |provider| %>
          <%=
            newflow_way_to_login(
              provider: provider,
              has_authentication: false,
              current_providers: current_providers
            )
          %>
        <% end %>
      </div>
    </div>

      <hr>
      <div class="row">
        <div class="card-container">
        <a href="https://openstax.org/subjects" class="card-link">
          <div class="card">
            <h2>Find Your Book</h2>
            <p>Discover and access textbooks and resources for your classes.</p>
          </div>
        </a>
          <% if !@using_os %>
            <a href="https://openstax.org/adoption?utm_source=openstax_accounts&utm_medium=web&utm_campaign=profile_conversion" class="card-link">
              <div class="card">
                <h2>Using OpenStax?</h2>
                <p>Let us know, it helps us continue to make great education resources!</p>
              </div>
            </a>
          <% else %>
            <a href="https://openstax.org/renewal-form?utm_source=openstax_accounts&utm_medium=web&utm_campaign=profile_conversion" class="card-link">
              <div class="card">
                <h2>Still Using OpenStax?</h2>
                <p>Let us know, it helps us continue to make great education resources!</p>
            </div>
          </a>
          <% end %>
        <a href="https://help.openstax.org/" class="card-link" target="_blank">
          <div class="card">
              <h2>Get Help</h2>
              <p>Need assistance? Visit our support center for help. Email, Phone, Chat. We're here to help.</p>
          </div>
        </a>
        <a href="https://www2.openstax.org/l/218812/2016-10-04/lvk" class="card-link" target="_blank">
          <div class="card">
              <h2>Keep in touch</h2>
              <p>Stay updated with the latest news from OpenStax. Subscribe to our quarterly newsletter.</p>
          </div>
        </a>
      </div>
      </div>


    <% else %>
      <hr>
      <div class="row">
        <a href="/accounts/i/profile" class="btn btn-primary escape-buttons" target="_top">Update my email or password</a>
      </div>
    <% end %>

<% end %>

<% unless @framed %>
  <%= render partial: 'layouts/newflow_footer' %>
<% end %>

<%= content_for :javascript do %>
<script type="text/javascript">

$.fn.editable.defaults.mode = 'inline';
$.fn.editable.defaults.send = "always";
$.fn.editable.defaults.ajaxOptions = {type: "PUT"};
$.fn.editable.defaults.url = "<%= profile_path %>";

$('#username').editable({
  success: function(response, newValue) {
    $('#session-info .username').text(newValue);
  }
});

OX.Profile.Name.editable($('#name'), {
    title: "<%= current_user.title %>",
    first_name: "<%= current_user.first_name %>",
    last_name: "<%= current_user.last_name %>",
    suffix: "<%= current_user.suffix %>"
});
</script>
<% end # javscript content block %>
