<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= form_for([:admin, @user]) do |f| %>
  <%= render "shared/error_messages", :target => @user %> 

  <div class="form-group">
    <%= f.label :name %>
    <div><%= @user.name %></div>
  </div>

  <div class="form-group">
    <%= f.label :existing_email_addresses %>
    <ul>
    <% @user.email_addresses.each do |email| %>
      <li><%= email.value %></li>
    <% end %>
    </ul>
  </div>

  <div class="checkbox">
    <%= f.label :is_administrator, 'Administrator?' %>
    <%= f.check_box :is_administrator %>
  </div>

  <div class="checkbox">
    <%= f.label :disable, 'Disabled Account?' %>
    <%= check_box_tag 'user[disable]', !@user.is_activated? %>
  </div>

  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-default' %>
  </div>
<% end %>
