<%# Copyright 2011-2016 Rice University. Licensed under the Affero General Public
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% content_for :javascript do %>
  <script type="text/javascript">
    $('.verify-email').bind('ajax:complete', function(evt, xhr, status) {
      $(this).replaceWith(xhr.responseText);
    });</script>
<% end %>

<%= form_for([:admin, @user]) do |f| %>
  <%= render "shared/error_messages", :target => @user %>

  <div class="form-group">
    <%= f.label :username %>
    <div><%= @user.username %></div>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <div><%= @user.name %></div>
  </div>

  <div class="form-group">
    <%= f.label :salesforce_contact %>
    <div>
      <% sf_id = @user.salesforce_contact_id %>
      <% if sf_id.nil? %>
        Not Set
      <% else %>
        <% sf_user = SalesforceUser.first %>

        <% if sf_user.nil? %>
          <%= sf_id %>
        <% else %>
          <%= link_to sf_id, sf_user.instance_url + "/" + sf_id, target: '_blank' %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :faculty_status %>
    <% if sf_id.nil? %>
      <% faculty_statuses = User.faculty_statuses.keys.map{ |key| [key.humanize, key] } %>
      <div><%= f.select :faculty_status, faculty_statuses %></div>
    <% else %>
      <div><%= @user.faculty_status.humanize %></div>
      <span class="help-block">
        This is a Salesforce user. You must change this setting in Salesforce.
      </span>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, value: params[:user].nil? ? @user.first_name : params[:user][:first_name] %>
  </div>

  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, value: params[:user].nil? ? @user.last_name : params[:user][:last_name] %>
  </div>

  <% unless @user.identity.nil? %>
    <div class="form-group">
      <%= f.label :password, 'Change password' %>
      <%= f.text_field :password, value: '' %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :existing_email_addresses %>
    <ul>
    <% @user.email_addresses.each do |email| %>
      <li>
      <%= email.value %>
      <% if email.verified %>
        (Verified)
      <% else %>
        <%= link_to 'Mark this email address as verified', admin_verify_contact_info_path(email),
                    remote: true, method: :post,
                    class: 'btn btn-default btn-xs verify-email',
                    confirm: "Are you sure you want to mark \"#{email.value}\" as verified?"
        %>
      <% end %>
      </li>
    <% end %>
    </ul>

    <%= f.label :email_address, 'New email address' %>
    <%= text_field_tag 'user[email_address]', params[:user].try(:[], :email_address) %>
  </div>

  <div class="form-group">
    <%= f.check_box :is_administrator %>
    <%= f.label :is_administrator, 'Administrator?' %>
  </div>

  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-default' %>
  </div>
<% end %>
