<%# Copyright 2011-2016 Rice University. Licensed under the Affero General Public
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% content_for :javascript do %>
  <script type="text/javascript">
    $('.verify-email').bind('ajax:complete', function(evt, xhr, status) {
      $(this).replaceWith(xhr.responseText);
    });</script>
<% end %>

<%= form_for [:admin, @user], html: {id: 'admin-user-form', class: 'form-horizontal'} do |f| %>
  <%= render "shared/error_messages", :target => @user %>

  <div class="form-group">
    <%= f.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <p class="form-control-static">
        <%= @user.name %>
          <%= link_to become_admin_user_path(@user),
                      method: :post,
                      data: {confirm: "Log in as user #{@user.id}, #{@user.full_name || '(no name)'}?"} do %>
            <i class="fa fa-key" aria-hidden="false"></i>
          <% end %>
      </p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :uuid, "UUID", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <p class="form-control-static">
        <%= @user.uuid %>
      </p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email_addresses, class: "col-sm-2 control-label" %>
    <ul class="col-sm-10 form-control-static">
    <% @user.email_addresses.each do |email| %>
    <li style="margin-left: 20px;">

      <%= link_to raw('<i class="fa fa-trash" aria-hidden="false"></i>'),
          admin_delete_contact_info_path(email),
          method: :delete,
          data: {confirm: "Are you sure you want to delete \"#{email.value}\" ?"}
          %>
      <%= email.value %>
      <% if email.verified %>
        (Confirmed)
      <% else %>
        <br>
        Confirmation PIN: <%= email.confirmation_pin %>
        <br>
        Confirmation URL: <%= verify_email_by_code_url(email.confirmation_code) %>
        <br>
        OR
        <br>
        <%= link_to 'Mark this email address as confirmed', admin_verify_contact_info_path(email),
                    remote: true, method: :post,
                    class: 'btn btn-default btn-xs verify-email',
                    data: {confirm: "Are you sure you want to mark \"#{email.value}\"
                    as confirmed? (You are saying you absolutely know this email address belongs to this user)"}
        %>
      <% end %>
      </li>
    <% end %>
    </ul>
  </div>

  <div class="form-group">
    <%= f.label :email_address, 'New email address', class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= text_field_tag 'user[email_address]', params[:user].try(:[], :email_address), class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :security_log, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <p class="form-control-static">
        <%= link_to "Security Log", admin_security_log_path(search: { query: "user_id:#{@user.id}" }) %>
      </p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :sheerid_verification_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <p class="form-control-static">
        <%= @user.sheerid_verification_id %>
      </p>
    </div>
  </div>

  <% if @user.sheerid_reported_school %>
  <div class="form-group">
    <%= f.label :sheerid_reported_school, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <p class="form-control-static">
        <%= @user.sheerid_reported_school %>
      </p>
    </div>
  </div>
  <% end %>

  <% if @user.salesforce_contact_id.nil? %>
  <div class="form-group">
    <%= f.label :salesforce_lead, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <% sf_id = @user.salesforce_lead_id %>
      <p class="form-control-static">
        <% if sf_id.nil? %>
          Not Set
        <% else %>
          <% instance_url = ActiveForce.sfdc_client.instance_url rescue nil %>
          <% if instance_url.nil? %>
            <%= sf_id %>
          <% else %>
            <%= link_to sf_id, instance_url + "/" + sf_id, target: '_blank' %>
          <% end %>
        <% end %>
      </p>
    </div>
  </div>
  <% end %>

  <% unless @user.salesforce_ox_account_id.nil? %>
    <div class="form-group">
      <%= f.label :salesforce_ox_account_id, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <% sf_id = @user.salesforce_ox_account_id %>
        <p class="form-control-static">
          <% if sf_id.nil? %>
            Not Set
          <% else %>
            <% instance_url = ActiveForce.sfdc_client.instance_url rescue nil %>
            <% if instance_url.nil? %>
              <%= sf_id %>
            <% else %>
              <%= link_to sf_id, instance_url + "/" + sf_id, target: '_blank' %>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :salesforce_contact, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <% sf_id = @user.salesforce_contact_id %>
      <p class="form-control-static">
        <% if sf_id.nil? %>
          Not Set
        <% else %>
          <% instance_url = ActiveForce.sfdc_client.instance_url rescue nil %>
          <% if instance_url.nil? %>
            <%= sf_id %>
          <% else %>
            <%= link_to sf_id, instance_url + "/" + sf_id, target: '_blank' %>
          <% end %>
        <% end %>
      </p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "New Salesforce contact", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :salesforce_contact_id, class: "form-control" %>
      <span class="help-block">Enter 'remove' to get rid of an existing SF contact ID.</span>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :role, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <% roles = User.roles.keys.sort.map{ |key| [key.humanize, key] } %>
      <%= f.select :role, roles, {:selected => @user.role}, {class: "form-control"} %>
    </div>
  </div>

  <% if @user.other_role_name %>
  <div class="form-group">
    <%= f.label :other_role_name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <% @user.other_role_name %>
    </div>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.label :faculty_status, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <% if sf_id.nil? %>
        <% faculty_statuses = User.faculty_statuses.keys.map{ |key| [key.humanize, key] } %>
        <%= f.select :faculty_status, faculty_statuses, {}, {class: "form-control"} %>
      <% else %>
        <p class="form-control-static">
          <%= @user.faculty_status.humanize %>
          <span class="help-block">This is a Salesforce user. You must change this setting in Salesforce.  If you just changed the Salesforce contact ID, this field will update within 20 minutes.</span>
        </p>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :first_name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :first_name,
                       value: params[:user].nil? ? @user.first_name : params[:user][:first_name],
                       class: "form-control" %>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :last_name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :last_name,
                       value: params[:user].nil? ? @user.last_name : params[:user][:last_name],
                       class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :school_type, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <% if sf_id.nil? %>
        <% school_types = User.school_types.keys.map{ |key| [key.humanize, key] } %>
        <%= f.select :school_type, school_types, {}, {class: "form-control"} %>
      <% else %>
        <p class="form-control-static">
          <%= @user.school_type.humanize %>
          <span class="help-block">This is a Salesforce user. You must change this setting in Salesforce.  If you just changed the Salesforce contact ID, this field will update within 20 minutes.</span>
        </p>
      <% end %>
    </div>
  </div>

  <% unless @user.identity.nil? %>
    <div class="form-group">
      <%= f.label :password, 'Change password to', class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :password, value: '', class: 'form-control' %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :apps, class: "col-sm-2 control-label" %>
    <ul class="col-sm-10 form-control-static">
    <% @user.application_users.includes(:application).each do |app_user| %>
      <li style="margin-left: 20px;">
        <% app_name = app_user.application.name %>
        <%= app_name %>
        <% if app_name == "OpenStax Tutor" %>
          <% url = begin
               a_url = app_user.application.redirect_uri.split.first
               uri = URI.parse(a_url)
               uri.path = "/admin/users/info"
               uri.query = "openstax_uid=#{@user.id}"
               uri.to_s
             rescue Exception => e
               nil
             end %>
          <% if url.present? %>
            [ <%= link_to('User info on Tutor', url) %> ]
          <% end %>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>

  <div class="form-group">
    <%= f.label :login_methods, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <p class="form-control-static">
        <%= @user.authentications.map(&:display_name).sort.join(', ') %>
      </p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :is_kip, 'Key Institutional Partner?', class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <div class="checkbox">
        <%= f.check_box :is_kip, style: 'margin-left: 0px' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :is_b_r_i_user, 'BRI User?', class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <div class="checkbox">
        <%= f.check_box :is_b_r_i_user, style: 'margin-left: 0px' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :grant_tutor_access, 'Grant Tutor Access?', class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <div class="checkbox">
        <%= f.check_box :grant_tutor_access, style: 'margin-left: 0px' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :is_administrator, 'Administrator?', class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <div class="checkbox">
        <%= f.check_box :is_administrator, style: 'margin-left: 0px' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :is_test, 'Test User?', class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <div class="checkbox">
        <%= f.check_box :is_test, style: 'margin-left: 0px' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :opt_out_of_cookies, 'Opt Out of Cookies?', class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <div class="checkbox">
        <%= f.check_box :opt_out_of_cookies, style: 'margin-left: 0px' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :opt_out_of_cookies, 'Profile Complete?', class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <div class="checkbox">
        <%= f.check_box :is_profile_complete, style: 'margin-left: 0px', disabled: 'disable' %>
      </div>
    </div>
  </div>

  <% if @user.external_uuids.any? %>
  <div class="form-group">
    <%= f.label :trusted_launch_user, 'External authentications?', class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <div class="checkbox">
        <%= f.check_box :keep_external_uuids, checked: true, style: 'margin-left: 0px'  %>
        <i style="margin-left: 1rem">(Unchecking will remove all links between this account and external systems such as LMS)</i>
      </div>
    </div>
  </div>
  <% end %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit 'Save', class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="actions">

  </div>
<% end %>
