<%# Renderer's of this partial can direct the form's target with 'override_search_path' %>

<% @page_header = "User Search" %>

<%= lev_form_for :search,
                 url: search_admin_users_path,
                 method: :get,
                 html: {class: 'form-horizontal'} do |f| %>


  <div class="input-group" style="width:100%">
    <%= f.search_field :terms,  class: 'form-control', placeholder: "Search terms" %>
  </div>
  <div class="input-group" style="margin-bottom: 20px" >
    <%= f.search_field :order_by,  class: 'form-control', placeholder: "Ordered by" %>
    <span class="input-group-btn">
      <%= f.submit 'Search', class: 'btn btn-primary' %>
    </span>
  </div>
  <div class="user-search-help"><%= link_to "Search help", "/api/docs/v1/users/index" %></div>

  <%= f.hidden_field :per_page, value: 50 %>

<% end %>


<% if @handler_result %>

<%= render partial: 'search_pagination' %>

<table id="search-results-list">

    <tr>
      <th class="expand"></th>
      <th>ID</th>
      <th>Name</th>
      <th>State</th>
      <th>Faculty Status</th>
      <th>Role</th>
      <th>School Type</th>
      <th>Lead</th>
      <th>Contact</th>
      <th>SF Account</th>
      <th>Test</th>
      <th>Admin</th>
      <th><span class="fa fa-user-secret"></span></th>
    </tr>
    <% @handler_result.outputs[:items].each do |user| %>
      <% zebra = cycle('odd', 'even') %>
      <tr class="<%= zebra %>">
        <td>
          <a class="expand" href="#">
            <i class="fa fa-plus" aria-hidden="false"></i></a>
        </td>
        <td><%= link_to user.id, edit_admin_user_path(user), target: '_blank' %></td>
        <td><%= user.full_name || '---' %></td>
        <td><%= user.state.humanize %></td>
        <td><%= user.faculty_status.humanize %></td>
        <td><%= user.unknown_role? ? "Unknown" : user.role.capitalize %></td>
        <td><%= user.school_type.humanize %></td>
        <td>
          <% unless user.salesforce_lead_id.nil? %>
            <% instance_url = ActiveForce.sfdc_client.instance_url rescue nil %>
            <% if instance_url.nil? %>
              <%= user.salesforce_lead_id %>
            <% else %>
              <%= link_to user.salesforce_lead_id, instance_url + "/" + user.salesforce_lead_id, target: '_blank' %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% unless user.salesforce_contact_id.nil? %>
            <% instance_url = ActiveForce.sfdc_client.instance_url rescue nil %>
            <% if instance_url.nil? %>
              <%= user.salesforce_contact_id %>
            <% else %>
              <%= link_to user.salesforce_contact_id, instance_url + "/" + user.salesforce_contact_id, target: '_blank' %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% unless user.salesforce_ox_account_id.nil? %>
            <% instance_url = ActiveForce.sfdc_client.instance_url rescue nil %>
            <% if instance_url.nil? %>
              <%= user.salesforce_ox_account_id %>
            <% else %>
              <%= link_to user.salesforce_ox_account_id, instance_url + "/" + user.salesforce_ox_account_id, target: '_blank' %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if user.is_test? %>
            <span class="fa fa-check"></span>
          <% end %>
        </td>
        <td>
          <% if user.is_administrator? %>
            <span class="fa fa-check"></span>
          <% end %>
        </td>
        <td>
          <%= link_to become_admin_user_path(user),
                      method: :post,
                      data: {confirm: "Log in as user #{user.id}, #{user.full_name || '(no name)'}?"} do %>
            <i class="fa fa-key" aria-hidden="false"></i>
          <% end %>
        </td>
      </tr>
      <tr class="<%= zebra %> details">
        <td></td>
        <td colspan=6>
          <div>
            <div style="float:right">
              <span class="created"><i>Created:</i> <%= user.created_at.in_time_zone('Central Time (US & Canada)') %></span>
              <br/>
              <span class="updated"><i>Updated:</i> <%= user.updated_at.in_time_zone('Central Time (US & Canada)') %></span>
            </div>

            <% security_log_params = { query: "user_id:#{user.id}" } %>

            <span class="security_log">
              <%= link_to "Security Log", admin_security_log_path(search: security_log_params), target: '_blank' %>
            </span>

            <br>

            <span class="uuid">
              <i>UUID:</i> <%= user.uuid %>
            </span>
          </div>
        </td>
        <td></td>
      </tr>
    <% end %>

</table>

<%= render partial: 'search_pagination' %>

<% end %>

<% content_for :javascript do %>
  <script type="text/javascript">
    $('.expand').click(function(e) {
      $(this).parent().parent().next('tr').toggle();
      $(this).find("i").toggleClass("fa-plus");
      $(this).find("i").toggleClass("fa-minus");
      e.preventDefault();
    });
  </script>

<% end %>
