<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<div id="upperCornerLinks"><%= link_to 'Edit', edit_admin_user_path(@user) %> | <%= link_to 'Back', admin_users_path %></div>

<%= page_heading @user.name %>

<table class="left_heading" style="margin-left:40px; margin-right:150px;">
   <tr>
      <th width="40%">Name</th>
      <td width="60%" colspan="2"><%= @user.name %></td>
   </tr>
   <tr>
      <th>Email</th>
      <td colspan="2"><%= @user.email %></td>
   </tr>
   <% if current_user.is_administrator? %>
   <tr>
      <th>Administrator?</th>
      <td colspan="2"><%= yn(@user.is_administrator?) %></td>
   </tr>
   <tr>
      <th>Verified?</th>
      <td><%= yn(true) %></td>
      <td><% if false %>
      <%= button_to 'Verify', user_confirm_path(@user), :class => "button_link" %>
      <% end %></td>
   </tr>
   <tr>
      <th>Account Disabled?</th>
      <td colspan="2"><%= yn(@user.is_disabled?) %></td>
   </tr>
   <% end %>
</table>
<p>
<% if current_user.is_administrator? %>
  <%= button_to 'Sign-in as this user',
      become_admin_user_path(@user),
        :method => :post,
        :class => submit_classes,
        :onclick => please_wait %>
<% end %>




