<%
  @using_os = current_user.using_openstax
%>

<% content_for :page_specific do %>
  <%= javascript_include_tag 'profile' %>
  <%= stylesheet_link_tag 'profile' %>
<% end %>

<%= profile_card do %>
  <div class="profile-title">
    <%=
      link_to(
        I18n.t(:"users.edit.sign_out"),
        logout_path,
        class: 'sign-out',
        data: {
          'ga-category': 'Logout',
          'ga-action': 'Click',
          'ga-label': 'Logout',
          'using-openstax': @using_os
        }
      )
    %>
    <h1 class="title"><%= t(:"login_signup_form.profile_newflow_page_header") %></h1>
  </div>

  <div class="info-grid">
    <div class="category">
      <%= I18n.t(:"users.edit.name") %>
    </div>
    <div class="info">
      <%= current_user.full_name %>
    </div>

    <div class="category">
      <%= t(:"users.edit.email_addresses") %>
    </div>
    <div id="email-template" style="display:none">
      <%= email_entry(value: "", id: "", is_verified: false, is_searchable: "") %>
    </div>
    <div class="info">
      <% current_user.email_addresses.order(:created_at).each do |email| %>
        <%= email_entry(value: email.value, id: email.id, is_verified: email.verified, is_searchable: email.is_searchable) %>
      <% end %>
      <%=
        link_to(
          I18n.t(:"users.edit.add_email_address"),
          '#',
          id: 'add-an-email',
          data: {
            'ga-category': 'My Account',
            'ga-action': 'Click',
            'ga-label': 'Add Email Address',
            'using-openstax': @using_os
          }
        )
      %>
    </div>

    <%
      all_providers = OmniauthData::VALID_PROVIDERS
      # The `all providers &` enforces a standard sort order
      current_providers = all_providers & current_user.authentications.collect(&:provider)
      other_available_providers = all_providers - current_providers
    %>

    <div class="category">
      <%= t(:"login_signup_form.how_you_log_in") %>
    </div>
    <div class="info providers">
      <% current_providers.each do |provider| %>
        <%= way_to_login(provider: provider, has_authentication: true, current_providers: current_providers) %>
      <% end %>
      <% if other_available_providers.any? %>
          <%=
            link_to(
              I18n.t(:"student_profile.enable_other_sign_in_options"),
              nil,
              id: 'enable-other-sign-in'
            )
          %>
      <% end %>
    </div>

    <%= render partial: 'other-sign-in', locals: {
      other_html: I18n.t(:"student_profile.other_sign_in_options_html"),
      other_providers_block:
        other_available_providers.map{ |provider|
          way_to_login(
            provider: provider,
            has_authentication: false,
            current_providers: current_providers
          )
        }
    } %>
  </div>
<% end %>
