<%
  @parent_col_id = "profile"
  @using_os = current_user.using_openstax
%>

<% content_for :head do %>
  <%= javascript_include_tag  "profile" %>
  <%= stylesheet_link_tag "profile-nf" %>
<% end %>

<div id="temporary-logo-within-my-account">
  <%= render 'layouts/main_menu' %>
</div>

<%= ox_card do %>
  <div class="profile-title">
    <%=
      link_to(
        I18n.t(:"users.edit.sign_out"),
        logout_path,
        class: 'sign-out',
        data: {
          'ga-category': 'Logout',
          'ga-action': 'Click',
          'ga-label': 'Logout',
          'using-openstax': @using_os
        }
      )
    %>
    <h1 class="title"><%= t(:"login_signup_form.profile_newflow_page_header") %></h1>
  </div>

  <div class="row name">
    <div class="col-sm-2 category">
      <%= I18n.t(:"users.edit.name") %>
    </div>
    <div class="col-sm-10 info">
      <a href="#" id="name" class="editable" data-type="profile_name"><%= current_user.full_name %></a>
    </div>
  </div>

  <% if current_user.username.present? %>
  <div class="row">
    <div class="col-sm-2 category">
      <%= I18n.t(:"users.edit.username") %>
    </div>
    <div class="col-sm-10 info">
      <a href="#" id="username" class="editable" data-name="username" data-type="text"><%= current_user.username %></a>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col-sm-2 category">
      <%= t(:"users.edit.email_addresses") %>
    </div>
    <div id="email-template" style="display:none">
      <%= email_entry(value: "", id: "", is_verified: false, is_searchable: "") %>
    </div>
    <div class="col-sm-10 info">
      <% current_user.email_addresses.order(:created_at).each do |email| %>
        <%= email_entry(value: email.value, id: email.id, is_verified: email.verified, is_searchable: email.is_searchable) %>
      <% end %>
      <%=
        link_to(
          I18n.t(:"users.edit.add_email_address"),
          '#',
          id: 'add-an-email',
          data: {
            'ga-category': 'My Account',
            'ga-action': 'Click',
            'ga-label': 'Add Email Address',
            'using-openstax': @using_os
          }
        )
      %>
    </div>
  </div>

  <div class="row enabled-providers">
    <div class="col-sm-2 category">
      <%= t(:"login_signup_form.how_you_log_in") %>
    </div>
    <div class="col-sm-10 info providers">
      <% OmniauthData::VALID_PROVIDERS.each do |provider| %>
        <%= way_to_login(provider: provider, has_authentication: true, current_providers: OmniauthData::VALID_PROVIDERS) %>
      <% end %>
    </div>
    <% if other_available_providers.any? %>
    <div class="col-sm-offset-2 info col-sm-10">
      <%=
        link_to(
          I18n.t(:"student_profile.enable_other_sign_in_options"),
          nil,
          id: 'enable-other-sign-in'
        )
      %>
    </div>
    <% end %>

  </div>

  <%= render partial: 'other-sign-in', locals: {
    other_html: I18n.t(:"student_profile.other_sign_in_options_html"),
    other_providers_block:
      other_available_providers.map{ |provider|
        way_to_login(
          provider: provider,
          has_authentication: false,
          current_providers: current_providers
        )
      }
  } %>

<% end %>

<%= render 'layouts/application_footer' %>
<%= render partial: 'profile/edit-js', locals: {
  profile_path: :'/profile',
  current_user: current_user
} %>
