<%
    error_codes = @handler_result.errors.map(&:code)

  big_time_error_message =
    case error_codes.first
    when :token_blank, :unknown_login_token
      t :"legacy.identities.set.there_was_a_problem_with_password_link"
    when :expired_login_token
      t :"legacy.identities.set.expired_password_link"
    end

 if big_time_error_message %>
  <p><%= big_time_error_message %></p>
<% else %>
    <div id="login-signup-form">
        <div class="content">
            <%= render partial: 'newflow/tab_group', locals: { active_class: 'login--active'} %>

            <%= newflow_login_signup_card(
                        classes: "login-page",
                        header: I18n.t(:"login_signup_form.enter_new_password")) do %>
                <% lev_form_for :change_password_form, url: change_password_path do |f| %>
                    <% fh = NewflowFormHelper::Newflow.new(f: f,
                                                context: self,
                                                errors: @handler_result&.errors) %>
                    <div class="content control-group info-message">
                        <%= I18n.t(:"login_signup_form.enter_new_password_description").html_safe %>
                    </div>

                    <div class="content control-group">
                        <div id="password-field-container">
                            <div class="input-with-tooltip">
                                <%= label_tag :password, I18n.t(:"login_signup_form.password_label"),
                                                        class: 'field-label required'
                                %>
                                <%= render partial: 'newflow/password_show_hide' %>
                                <%=
                                    fh.text_field(
                                        name: :password,
                                        type: :password,
                                        placeholder: I18n.t(:"login_signup_form.password_label")
                                    )
                                %>
                                <%= render partial: 'newflow/password_tooltip' %>
                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="content">
                        <% f.hidden_field :token, value: params[:token] %>
                        <%= f.submit I18n.t(:"login_signup_form.log_in"),
                                            disable_with: I18n.t(:"login_signup_form.log_in"),
                                            class: 'primary' %>
                    </div>

                <% end %>
            <% end %>
        </div>
    </div>
<% end %>
