<%# Copyright 2011-2013 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<div id="top-nav-frame" class="<%= yield :top_nav_class %>">
  <div id="top-nav-content">

    <div id="top-nav-logo">
      <a href="<%= root_path %>" id="top-nav-logo-link"></a>
    </div>

    <div id="top-nav-account">
      <% if signed_in? %>
        Welcome, <%= current_user.username %>&nbsp;&nbsp;&nbsp;<%= link_to 'Sign out', main_app.logout_path %>
      <% else %>
        <% unless session[:from_cnx] %>
          <%= link_to 'Sign up', main_app.signup_path %> or
        <% end %>
          <%= link_to "Sign in", main_app.login_path %>
      <% end %>
    </div>

    <div id="top-nav-links">
      <% if false %>
      <ul>
        <li>
          <%= render "layouts/application_top_nav_link", 
                     target_text:            "ABOUT",
                     target_id:              "top-nav-about-link",
                     target_path:            "#",
                     target_current_symbol:  :top_nav_about_current %>
        </li>
        <li>
          <%= render "layouts/application_top_nav_link", 
                     target_text:            "API",
                     target_id:              "top-nav-api-link",
                     target_path:            main_app.api_path,
                     target_current_symbol:  :top_nav_api_current %>
        </li>
        <li>
          <%= render "layouts/application_top_nav_link", 
                     target_text:            "SIGN IN",
                     target_id:              "top-nav-account-link",
                     target_path:            "#",
                     target_current_symbol:  :top_nav_account_current %>
        </li>
      </ul>
      <% end %>
    </div>

  </div>
</div>
