<!DOCTYPE html>
<html>

  <head>

    <% if @redirect_url %>
      <meta http-equiv='refresh' content='<%= @redirect_delay -%>;url=<%= @redirect_url -%>'>
    <% end %>

    <%= stylesheet_link_tag     "application" %>
    <%= javascript_include_tag  "application" %>

    <title><%= @page_title + ' - ' if !@page_title.nil? %><%= SITE_NAME %></title>  

  </head>

  <body>

    <%= render :partial => "layouts/application_js_hooks" %>

    <div id="application-container">

      <%= render :partial => "layouts/application_header" %>

      <%= render :partial => "layouts/application_body" %>

      <%= render :partial => "layouts/application_footer" %>

    </div>

  <%= yield :javascript %>

  </body>

</html>



