<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <script type="text/javascript">
      window.OX = window.OX || {};
      OX.I18n = <%= (t :javascript).to_json.html_safe %>;
      OX.url_prefix = "<%= request.script_name %>";
  </script>

  <%= render "layouts/google_tag_manager" %>

  <% if @redirect_url %>
    <meta http-equiv='refresh' content='<%= @redirect_delay -%>;url=<%= @redirect_url -%>'>
  <% end %>

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <title><%= @page_title + ' - ' if !@page_title.nil? %><%= PAGE_TITLE_SUFFIX %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <% if Rails.env.production? %>
    <script src="https://cdn.optimizely.com/js/1345615444.js"></script>
  <% end %>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>

  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <%= content_for :page_specific %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
<%= render "layouts/tag_manager_snippet" %>
<%= render "shared/upper_corner_console" %>
<%= render "layouts/application_header" %>

<%= render "layouts/attention" unless @hide_layout_errors %>
<%= render "layouts/main_menu" %>


<div id="application-container" class="content">
  <%= render "layouts/application_body" %>
</div>

<%= render "layouts/application_footer" %>
<%= render "layouts/google_analytics" %>

<%= yield :javascript %>
</body>
</html>
