<!DOCTYPE html>
<html>

  <head>

    <% if @redirect_url %>
      <meta http-equiv='refresh' content='<%= @redirect_delay -%>;url=<%= @redirect_url -%>'>
    <% end %>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <%= yield :head if content_for?(:head) %>

    <% if !Rails.env.test? %>
    <script src="https://cdn.optimizely.com/js/1345615444.js"></script>
    <% end %>

    <title><%= @page_title + ' - ' if !@page_title.nil? %><%= PAGE_TITLE_SUFFIX %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script type="text/javascript">
      window.OX = window.OX || {}
      OX.I18n = <%= (t :javascript).to_json.html_safe %>
    </script>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">

    <%= render partial: "layouts/application_js_hooks" %>
    <%= render "shared/upper_corner_console" %>
    <%= render partial: "layouts/application_header" %>

    <div id="application-container" class="container">

      <%= render(partial: "layouts/attention") unless @hide_layout_errors %>

      <%= render partial: "layouts/application_body" %>

      <%= render partial: "layouts/application_footer" %>
      <%= render partial: "layouts/google_analytics" %>

    </div>

  <%= yield :javascript %>

  </body>

</html>
