<!DOCTYPE html>
<html>
<head>
  <title>Services</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if signed_in? %>
  Welcome, <%= current_user.username %>&nbsp;&nbsp;&nbsp;<%= link_to 'Sign out', logout_path %>
<% else %>
  <%= link_to 'Sign Up', signup_path %> or <%= link_to "Sign in", login_path %>
<% end %>

<hr/>

<%= yield %>

</body>
</html>
