<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <%= render partial: "layouts/google_tag_manager" %>

        <% if @redirect_url %>
        <meta http-equiv='refresh' content='<%= @redirect_delay -%>;url=<%= @redirect_url -%>'>
        <% end %>

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">

        <title>OpenStax Accounts</title>
        <%= stylesheet_link_tag 'newflow', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'newflow', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>

      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>

            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

      <% unless Rails.env.test? %>
            <script src="https://cdn.optimizely.com/js/1345615444.js"></script>

          <script>
              !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.crossOrigin="anonymous",p.async=!0,p.src=s.api_host.replace(".i.posthog.com","-assets.i.posthog.com")+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="init capture register register_once register_for_session unregister unregister_for_session getFeatureFlag getFeatureFlagPayload isFeatureEnabled reloadFeatureFlags updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures on onFeatureFlags onSessionId getSurveys getActiveMatchingSurveys renderSurvey canRenderSurvey getNextSurveyStep identify setPersonProperties group resetGroups setPersonPropertiesForFlags resetPersonPropertiesForFlags setGroupPropertiesForFlags resetGroupPropertiesForFlags reset get_distinct_id getGroups get_session_id get_session_replay_url alias set_config startSessionRecording stopSessionRecording sessionRecordingStarted captureException loadToolbar get_property getSessionProperty createPersonProfile opt_in_capturing opt_out_capturing has_opted_in_capturing has_opted_out_capturing clear_opt_in_out_capturing debug getPageViewId".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
              posthog.init('<%= Rails.application.secrets.posthog_project_api_key %>', {
                  api_host:'https://us.i.posthog.com',
                  person_profiles: 'identified_only'
              })
          </script>
        <% end %>

      <%= content_for :page_specific %>
    </head>
    <body>
        <%= render partial: "layouts/tag_manager_snippet" %>
        <% if @banners.present? %>
            <% @banners.each do |banner| %>
                <div class="banner">
                    <%= banner.message %>
                </div>
            <% end %>
        <% end %>

        <% if flash[:alert].present? %>
            <div class="newflow-layout-alert">
                <%= flash[:alert] %>
            </div>
        <% end %>

        <% if flash[:notice].present? %>
            <div class="newflow-layout-notice">
                <%= flash[:notice].html_safe %>
            </div>
        <% end %>

        <%= render(partial: 'layouts/main_menu') %>

        <div class="content">
            <%= yield %>
        </div>

        <%= render partial: 'layouts/newflow_footer' %>
        <%= render partial: "layouts/google_analytics" %>

        <%= yield :javascript %>
    </body>
</html>
